---
author: Jason Mercer
categories:
- modeling
date: '2018-11-01'
description: Operationalizing the Penman-Monteith and Priestley-Taylor ET models
featured: data.jpg
featuredpath: blog
title: Penman-Monteith and Priestley-Taylor Evaporation
type: post
categories:
  - hydrology
tags:
  - modeling
  - evapotranspiration
---

 <style type="text/css">code{white-space: pre;}</style><style type="text/css">  pre:not([class]) {     background-color: white;   } </style><script type="text/javascript">if (window.hljs) {   hljs.configure({languages: []});   hljs.initHighlightingOnLoad();   if (document.readyState && document.readyState === "complete") {     window.setTimeout(function() { hljs.initHighlighting(); }, 0);   } } </script>   <style type="text/css">h1 {   font-size: 34px; } h1.title {   font-size: 38px; } h2 {   font-size: 30px; } h3 {   font-size: 24px; } h4 {   font-size: 18px; } h5 {   font-size: 16px; } h6 {   font-size: 12px; } .table th:not([align]) {   text-align: left; } </style>  </head> <body> <style type="text/css">.main-container {   max-width: 940px;   margin-left: auto;   margin-right: auto; } code {   color: inherit;   background-color: rgba(0, 0, 0, 0.04); } img {   max-width:100%;   height: auto; } .tabbed-pane {   padding-top: 12px; } button.code-folding-btn:focus {   outline: none; } </style>   <div class="container-fluid main-container"> <!-- tabsets --><script>$(document).ready(function () {   window.buildTabsets("TOC"); }); </script> <!-- code folding -->      <div class="fluid-row" id="header">    </div>  <script type="text/x-mathjax-config">MathJax.Hub.Config({   TeX: {        equationNumbers: {              autoNumber: "all",             formatNumber: function (n) {return +n}       }    } }); </script><p>This document synthesizes the information required to determine evapotranspiration (ET) using both the FAO’s version of the Penman-Monteith (PM) equation (Allen et al. 1998), as well as the Priestley-Taylor (PT) equation. An online version of the FAO report is available <a href="http://www.fao.org/docrep/X0490E/x0490e06.htm">here</a>.</p><p>Where appropriate, additional references are made when the FAO documentation lacks clarity, does not provide a means of calculating a particular value required to estimate ET, or I think a particular value estimate could be improved. I tried my best to document or determine where a particular formula comes from, but it’s not always clear, so where there is a lack of certainty I provided either websites with the information or question marks when I’m unsure of a reference’s attribution.</p><div id="penman-monteith" class="section level2"><h2>Penman-Monteith</h2><p>The full Penman-Monteith ET equation is (Allen et al. 1998, Allen 2005):</p><p><span class="math display">\[ {\lambda_v ET}_{pm,o} = \frac{\Delta \cdot (R_n - G) + \rho_a \cdot c_p \cdot \bigg(\frac{e_s - e_a}{r_a}\bigg)}{\Delta + \gamma \cdot \bigg(1 + \frac{r_s}{r_a}\bigg)} \]</span></p><p>Where: <br> <span class="math inline">\(ET_{pm,o}\)</span>: Penman-Monteith evapotranspiration in m day<sup>-1</sup><br> <span class="math inline">\(\lambda_v\)</span>: Volumetric latent heat of vaporization, 2453 MJ m<sup>-3</sup> <br> <span class="math inline">\(\Delta\)</span>: Slope of the saturation vapor pressure-temperature curve (kPa C<sup>-1</sup>) <br> <span class="math inline">\(R_n\)</span>: Net radiation (MJ m<sup>-2</sup> day<sup>-1</sup>) <br> <span class="math inline">\(G\)</span>: Soil heat flux density (MJ m<sup>-2</sup> day<sup>-1</sup>) <br> <span class="math inline">\(\rho_a\)</span>: Air density for a given air pressure (kg m<sup>-3</sup>) <br> <span class="math inline">\(c_p\)</span>: Specific heat of air (MJ kg<sup>-1</sup> C<sup>-1</sup>) <br> <span class="math inline">\(e_s\)</span>: Saturation vapor pressure (kPa) <br> <span class="math inline">\(e_a\)</span>: Actual vapor pressure (kPa) <br> <span class="math inline">\(r_a\)</span>: Air resistance (day m<sup>-1</sup>) <br> <span class="math inline">\(\gamma\)</span>: The psychrometric constant (kPa C<sup>-1</sup>) <br> <span class="math inline">\(r_s\)</span>: Surface resistance (day m<sup>-1</sup>)</p><p>Under saturated conditions, like those associated with lakes and wetlands (when the water table is at or near the soil surface) surface resistance can be approximate as being at or near 0, simplifying the PM equation to (after rearranging for ET only and converting to mm day<sup>-1</sup>):</p><p><span class="math display">\[ {ET}_{pm} = \frac{\Delta \cdot (R_n - G) + \rho_a \cdot c_p \cdot \bigg(\frac{e_s - e_a}{r_a}\bigg)}{\lambda_v \cdot (\Delta + \gamma)} \cdot {1,000} \]</span></p><p>In this formulation: <br> <span class="math inline">\(ET_{pm}\)</span>: Penman-Monteith evapotranspiration in units of mm day<sup>-1</sup> <br></p><p>The value of 1,000 converts m day<sup>-1</sup> to mm day<sup>-1</sup>.</p><p>Typically, R<sub>n</sub> and G are reported in W m<sup>-2</sup> by some in-situ measurement device, but equations (1) and (2) require data be in units of MJ m<sup>-2</sup> day<sup>-1</sup>. The conversion between these units is: 1 W m<sup>-2</sup> = 0.0864 MJ m<sup>-2</sup> day<sup>-1</sup>.</p><p>For more on converting between different units common in evapotranspiration studies: <a href="http://www.fao.org/docrep/X0490E/x0490e0i.htm#annex%201.%20units%20and%20symbols">http://www.fao.org/docrep/X0490E/x0490e0i.htm#annex%201.%20units%20and%20symbols</a></p><p>Net radiation is often measured in the field, or by using some approximation based on elevation, longitude, latitude, etc.</p><div id="soil-heat-flux" class="section level3"><h3>Soil heat flux</h3><p>Soil heat flux is a function of both the energy leaving the surface and stored in the surface layer:</p><p><span class="math display">\[ G = G_d + S \]</span></p><p>Where: <br> <span class="math inline">\(G_d\)</span>: The heat flux of the soil at a given depth (W m<sup>-2</sup>) <br> <span class="math inline">\(S\)</span>: Energy stored in the soil between the surface and a given depth (W m<sup>-2</sup>)</p><p>Generally, G<sub>d</sub> is measured with a heat flux plate, while S is determined using physical relationships, such as:</p><p><span class="math display">\[ S = \frac{\Delta T_s \cdot C_s \cdot d}{t} \]</span></p><p>Where: <br> <span class="math inline">\(\Delta T_s\)</span>: Change is soil temperature over a given time period (C) <br> <span class="math inline">\(C_s\)</span>: The heat capacity of moist soil (J <sup>-3</sup> C<sup>-1</sup>) <br> <span class="math inline">\(d\)</span>: Depth of the heat flux plate (m); generally within 10 cm of the soil surface <br> <span class="math inline">\(t\)</span>: The time period of interest (seconds)</p><p>In turn, the heat capacity of moist soil can be represented via:</p><p><span class="math display">\[ C_s = \rho_b \cdot C_d + \theta_v \cdot \rho_w \cdot C_w \]</span></p><p>Where: <br> <span class="math inline">\(\rho_b\)</span>: Bulk density of the soil kg m<sup>-3</sup> <br> <span class="math inline">\(C_d\)</span>: Specific heat of dry soil (J kg<sup>-1</sup> C<sup>-1</sup>) <br> <span class="math inline">\(\theta_v\)</span>: Volumetric water content [-] <br> <span class="math inline">\(\rho_w\)</span>: Density of water kg m<sup>-3</sup> <br> <span class="math inline">\(C_w\)</span>: Specific heat of water (J kg<sup>-1</sup> C<sup>-1</sup>)</p><p>Some additional information related to equations (3)-(5), as well as their practical concerns, are provided in Campbell Scientific’s manual for the HFP01: <a href="https://s.campbellsci.com/documents/au/manuals/hfp01.pdf" class="uri">https://s.campbellsci.com/documents/au/manuals/hfp01.pdf</a></p></div><div id="aerodynamic-resistance" class="section level3"><h3>Aerodynamic resistance</h3><p>Aerodynamic resistance, <span class="math inline">\(r_a\)</span>, can be determined via (Allen et al. 1998):</p><p><span class="math display">\[ r_a = \frac{\ln\bigg[\frac{z_m-d}{z_{om}}\bigg] \cdot \ln\bigg[\frac{z_h-d}{z_{oh}}\bigg]}{86,400 \cdot k^2 \cdot U_z} \]</span></p><p>Where: <br> <span class="math inline">\(z_m\)</span>: Height of the wind measurement (m) <br> <span class="math inline">\(z_h\)</span>: Height of the humidity measurement (m) <br> <span class="math inline">\(d\)</span>: Zero plane displacement height (m); Effectively the height at which vegetation is “stiff” (doesn’t move); See Dingman (2002) for more details. <br> <span class="math inline">\(z_{om}\)</span>: Roughness length governing momentum transfer (m) <br> <span class="math inline">\(z_{oh}\)</span>: Roughness length governing transfer of heat and vapor (m) <br> <span class="math inline">\(k\)</span>: von Karman’s constant, 0.41 [-] <br> <span class="math inline">\(U_z\)</span>: Wind speed at a height of z<sub>m</sub> (m s<sup>-1</sup>) <br></p><p>Common values for some of the above variables: <br> <span class="math inline">\(d = h \cdot 2/3\)</span> <br> <span class="math inline">\(z_{om} = h \cdot 0.123\)</span> <br> <span class="math inline">\(z_{oh} = z_{om} \cdot 0.1\)</span></p><p>Where <span class="math inline">\(h\)</span> is the height of the vegetation (m).</p><p>The value of 86,400 in the denominator converts seconds to days.</p></div><div id="saturation-vapor-pressure" class="section level3"><h3>Saturation vapor pressure</h3><p>Saturation vapor pressure of water, <span class="math inline">\(e_s\)</span>, can be estimated via (Buck 1981):</p><p><span class="math display">\[ e_s = [1.0007 + (3.46 \times 10^{-5} \cdot P)] \cdot 6.1121 \cdot \exp \frac{17.502 \cdot T_a}{240.97 + T_a} \]</span></p><p>Where: <br> <span class="math inline">\(P\)</span>: Air pressure (kPa) <br> <span class="math inline">\(T_a\)</span>: Air temperature (C)</p></div><div id="vapor-pressure" class="section level3"><h3>Vapor pressure</h3><p>Actual vapor pressure, <span class="math inline">\(e_a\)</span>, is determined via (Dingman 2002):</p><p><span class="math display">\[ e_a = RH \cdot e_s \]</span></p><p>Where: <br> <span class="math inline">\(RH\)</span>: Relative humidity [-]</p></div><div id="slope-of-the-saturation-vapor-pressure-curve" class="section level3"><h3>Slope of the saturation vapor pressure curve</h3><p>The slope of the saturation vapor pressure curve, <span class="math inline">\(\Delta\)</span>, is determined by the following relationship (Dingman 2002):</p><p><span class="math display">\[ \Delta = \frac{4098 \cdot e_s}{(T_a + 237.3)^2}  \]</span></p></div><div id="air-density" class="section level3"><h3>Air density</h3><p>The following equation was extracted from: <a href="https://www.engineeringtoolbox.com/density-air-d_680.html" class="uri">https://www.engineeringtoolbox.com/density-air-d_680.html</a></p><p>Air density, <span class="math inline">\(\rho_a\)</span>, uses standard relationships that can be determined from the Ideal Gas Law. The following accounts for both moist and dry components of the atmosphere (Green and Perry 2008?):</p><p><span class="math display">\[ \rho_a = \frac{\frac{P \cdot 1,000}{R_a \cdot (T_a + 273.15)} \cdot (1 + X)}{1 + X \cdot \frac{R_v}{R_a}} \]</span></p><p>where: <br> <span class="math inline">\(R_a\)</span>: The gas constant for dry air, 286.9 (J kg<sup>-1</sup> K<sup>-1</sup>) <br> <span class="math inline">\(R_v\)</span>: The gas constant for water vapor, 461.5 (J kg<sup>-1</sup> K<sup>-1</sup>) <br> <span class="math inline">\(X\)</span>: Humidity ratio (kg water vapor / kg dry air)</p><p>The value <span class="math inline">\(P \cdot 1,000\)</span> converts kPa to Pa, while <span class="math inline">\(T_a + 273.15\)</span> converts Celsius to Kelvin.</p><p>The ratio of R<sub>a</sub> to R<sub>v</sub> is ≈ 0.622.</p><p>The following was extracted from: <br> <a href="https://www.engineeringtoolbox.com/humidity-ratio-air-d_686.html" class="uri">https://www.engineeringtoolbox.com/humidity-ratio-air-d_686.html</a> <br> <a href="https://bit.ly/2WSOF7Y"  class="uri">https://bit.ly/2WSOF7Y</a></p><p>The humidity ratio, <span class="math inline">\(X\)</span>, (aka, moisture content, mixing ratio) can be determined via (Green and Perry 2008?):</p><p><span class="math display">\[ X = \frac{R_a / R_v \cdot e_a}{P - e_a} \]</span></p></div><div id="specific-heat-of-air" class="section level3"><h3>Specific heat of air</h3><p>Specific heat equation is from: <a href="https://en.wiktionary.org/wiki/humid_heat" class="uri">https://en.wiktionary.org/wiki/humid_heat</a>.</p><p>Specific heat of air, <span class="math inline">\(c_p\)</span>, can be estimated as (Green and Perry 2008?):</p><p><span class="math display">\[ c_p = \frac{1.005 + 1.82 \cdot X}{1000} \]</span></p><p>Note that the above is a slight modification from the source equation, to ensure the final units are in MJ kg<sup>-1</sup> C<sup>-1</sup> and not kJ kg<sup>-1</sup> C<sup>-1</sup>.</p></div><div id="psychrometric-constant" class="section level3"><h3>Psychrometric constant</h3><p>The psychrometric constant, <span class="math inline">\(\gamma\)</span>, is determined from the following (Dingman 2002): <span class="math display">\[ \gamma = \frac{c_p \cdot P}{\frac{R_a}{R_v} \cdot \lambda_m} \]</span></p><p>Where: <br> <span class="math inline">\(\lambda_m\)</span>: latent heat of vaporization for a mass, 2.453 MJ kg<sup>-1</sup></p></div></div><div id="priestley-taylor" class="section level2"><h2>Priestley-Taylor</h2><p>The Priestley-Taylor (PT) equation is similar to the Penman-Monteith method, but simplified. That is, vapor deficit and convection terms are reduced to a single empirical constant, α. The PT model can be represented as follows:</p><p><span class="math display">\[ ET_{pt} = \alpha \cdot \frac{\Delta \cdot (R_n - G)}{\lambda_v \cdot (\Delta + \gamma)} \cdot 1,000 \]</span></p><p>Where: <br> <span class="math inline">\(ET_{pt}\)</span>: Priestley-Taylor evapotranspiration in units of mm day<sup>-1</sup> <br> <span class="math inline">\(\alpha\)</span>: An empirical constant accounting for the vapor pressure deficit and resistance values [-]</p><p>Typically, α is 1.26 for open bodies of water, but has a wide range of values from less than 1 (humid conditions) to almost 2 (arid conditions).</p><p>Similar to the PM model, the same terms and relationships (e.g., equations in the Penman-Monteith section of this document) can be used to generate ET<sub>pt</sub>.</p><hr /><div id="bibliography" class="section level3"><h3>Bibliography</h3><p>Allen, RG, LS Pereira, D Raes, &amp; M Smith. 1998. Crop evapotranspiration-Guidelines for computing crop water requirements-FAO Irrigation and drainage. paper 56. FAO, Rome, 300, 6541.</p><p>Allen, RG. 2005. The ASCE standardized reference evapotranspiration equation. Amer Society of Civil Engineers.</p><p>Buck AL. 1981. New equations for computing vapor pressure and enhancement factor. Journal of Applied Meteorology 20 (12): 1527-1532 DOI: 10.1175/1520-0450(1981)020&lt;1527:NEFCVP&gt;2.0.CO;2.</p><p>Dingman, SL, 2002. Physical hydrology. Waveland Press.</p><p>Green, DW &amp; RH Perry. 2008. Perry’s chemical engineers’ handbook. McGraw-Hill.</p><p><br></p><div id="technical-bibliography" class="section level4"><h4>Technical Bibliography</h4><p>Script used to generate numbers to the right of display equations:</p><p><a href="https://stackoverflow.com/questions/35026405/auto-number-equations-in-r-markdown-documents-in-rstudio" class="uri">https://stackoverflow.com/questions/35026405/auto-number-equations-in-r-markdown-documents-in-rstudio</a></p><p>To prevent a number from showing up use <code>\nonumber</code> in the equation. For ex, <code>$$E=mc^2\nonumber$$</code> results in:</p><p><span class="math display">\[E=mc^2\nonumber\]</span></p></div></div></div>    </div> <script> // add bootstrap table styles to pandoc tables function bootstrapStylePandocTables() {   $('tr.header').parent('thead').parent('table').addClass('table table-condensed'); } $(document).ready(function () {   bootstrapStylePandocTables(); });   </script> <!-- dynamically load mathjax for compatibility with self-contained --><script>  (function () {     var script = document.createElement("script");     script.type = "text/javascript";     script.src  = "https://mathjax.rstudio.com/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML";     document.getElementsByTagName("head")[0].appendChild(script);   })(); </script> </body></html>