---
title: Notes on using a custom domain to host the site
author: Jason Mercer
date: '2019-11-10'
slug: notes-on-using-a-custom-domain-to-host-the-site
categories:
  - meta
tags:
  - tutorial
  - gitlab
  - aws
description: 'More notes on my journey towards static site domination.'
type: post
---



<p>So far, in my minimal web development experience I’ve never setup a true website such that my site had it’s own domain. I’ve owned at least one domain in he past, but I only used that for email services. However, I’ve heard one can setup a GitLab (and GitHub, etc.) site with a custome domain. Since I already had a custom domain, wetlandscapes.com, I thought I’d give setting up a custom domain a shot with the new site.</p>
<p>Since I’ve never done this before, and GitLab’s documentation, as it pertains to Amazon Web Service, was not super obvious to me, I thought I’d document all the steps I went through to go from having a site hosted via wetlandscapes.gitlab.io to wetlandscapes.com. That said, I’m really not sure how many of these steps were truly necessary. Ye have been warned.</p>
<div id="setting-up-a-custom-domain-with-gitlab-and-amazon-web-services" class="section level2">
<h2>Setting up a custom domain with GitLab and Amazon Web Services</h2>
<ol style="list-style-type: decimal">
<li>Registered my domain with Amazon Route 53. I did this a while ago (2017), so don’t really remember the details of that transaction.</li>
<li>Started the custom domain process with GitLab.
<ol style="list-style-type: decimal">
<li>Went to my repo.</li>
<li>Settings (lower left) -&gt; Pages</li>
<li>On the New Pages Domain page
<ol style="list-style-type: decimal">
<li>Added my domain: wetlandscapes.com</li>
<li>Turned out some automatic security feature (not really sure what that was, but I couldn’t get to the next page without turning it on).</li>
</ol></li>
<li>On the Pages Domain page
<ol style="list-style-type: decimal">
<li>Copied my DNS and Verification Status</li>
<li>My SSL certificate was inactive, since I hadn’t verified my domain, yet.</li>
</ol></li>
</ol></li>
<li>Setup my DNS records for Pages
<ol style="list-style-type: decimal">
<li>Added a bucket to my root domain via AWS
<ol style="list-style-type: decimal">
<li>From the dashboard -&gt; S3 -&gt; Create bucket</li>
<li>Bucket names:
<ul>
<li>wetlandscapes.com</li>
<li>www.wetlandscapes.com</li>
</ul></li>
<li>Added a key, “wetlandscapes”, so I could track any costs I might occur by doing this stuff.</li>
<li>I kep the rest of the default options.</li>
</ol></li>
<li>Configure my “main” bucket, wetlandscapes.com
<ol style="list-style-type: decimal">
<li>Click the name of the bucket from the Amazon S3 console.</li>
<li>Click Properties.</li>
<li>Click Static Website Hosting</li>
<li>Selected “Use this bucket to host a website”.
<ol style="list-style-type: decimal">
<li>Index document. From the <code>public/</code> directory of my site it looks like index.html works.</li>
<li>Error document. Same, but it looks like 404.html is the error document.</li>
</ol></li>
</ol></li>
<li>Configure my “ancillary” bucket, www.wetlandscapes.com
<ol style="list-style-type: decimal">
<li>Same as above, but when I get to the Static Website Hosting I select “Redirect requests”
<ol style="list-style-type: decimal">
<li>Target bucket or domain: wetlandscapes.com</li>
</ol></li>
</ol></li>
<li>Setup web traffic logging (just because I’m curious)
<ol style="list-style-type: decimal">
<li>Create another bucket called logs.wetlandscapes.com</li>
<li>Using the same options (and defaults) as I did with the other buckets.</li>
<li>Once the bucket is created, click on it.</li>
<li>Go to Overview.</li>
<li>Create folders (use bucket settings):
<ul>
<li>root</li>
<li>cdn</li>
</ul></li>
<li>Go back to the S3 console page.</li>
<li>Click the wetlandscapes.com bucket.</li>
<li>Click Properties.</li>
<li>Server access logging.
<ol style="list-style-type: decimal">
<li>Target bucket: logs.wetlandscapes.com</li>
<li>Target prefix: root/</li>
</ol></li>
</ol></li>
<li>Allow public access
<ol style="list-style-type: decimal">
<li>Click my main bucket.</li>
<li>Click Permissions.</li>
<li>On the Block Public Access tab click the Edit button.</li>
<li>Uncheck Block All Public Access and then save.</li>
<li>Confirm the change.</li>
</ol></li>
<li>Attach a bucket policy
<ol style="list-style-type: decimal">
<li><p>In my main bucket click Permissions</p></li>
<li><p>Clock Bucket Policy</p></li>
<li><p>Copy and paste the following into the policy editor (note the reference to wetlandscapes.com):</p>
<pre><code>{
  &quot;Version&quot;:&quot;2012-10-17&quot;,
  &quot;Statement&quot;:[
      {
          &quot;Sid&quot;:&quot;PublicReadGetObject&quot;,
          &quot;Effect&quot;:&quot;Allow&quot;,
          &quot;Principal&quot;:&quot;*&quot;,
          &quot;Action&quot;:[
              &quot;s3:GetObject&quot;
          ],
          &quot;Resource&quot;:[
              &quot;arn:aws:s3:::wetlandscapes.com/*&quot;
          ]
      }
  ]
}
</code></pre></li>
</ol></li>
</ol></li>
</ol>
<p>Note that the above step comes with a scary warning about never granting public access to an S3 bucket.</p>
<ol start="4" style="list-style-type: decimal">
<li><p>Test that my “domain endpoint” works. <strong>NOTE: ENDPOINTS MAY BE SUPERFLUOUS AS MY SITE IS ROUTED THROUGH GITLAB.</strong>
1. For this I ended up adding a dummy site to my main bucket. That is, I uploaded a index.html file with the following content:</p>
<pre><code> ```html
     &lt;html xmlns=&quot;http://www.w3.org/1999/xhtml&quot; &gt;
       &lt;head&gt;
         &lt;title&gt;My Website Home Page&lt;/title&gt;
     &lt;/head&gt;
     &lt;body&gt;
       &lt;h1&gt;Welcome to my website&lt;/h1&gt;
       &lt;p&gt;Now hosted on Amazon S3!&lt;/p&gt;
     &lt;/body&gt;
     &lt;/html&gt;
     ```</code></pre>
<ol style="list-style-type: decimal">
<li>I then browsed to my endpoint: <a href="http://wetlandscapes.com.s3-website-us-west-2.amazonaws.com/" class="uri">http://wetlandscapes.com.s3-website-us-west-2.amazonaws.com/</a></li>
</ol></li>
<li><p>Add alias records
1. Go to Route 53.
1. Click Hosted zones (left margin).
1. Click my domain name, wetlandscapes.com
1. Click Create Record Set
1. The first thing I did was apply my GitLab varification code. This use a TXT type. I didn’t use aliases or anything, but I did have to ensure that the Value was in quotes.
1. Second was that I had to make a Type A connection with an IP value of 35.185.44.232 (I found this on GitLab).
* Note 1: There were already NS and SOA types in my record set. I’m not sure what those are, but they were there.
* Note 2: I thought I had to include a CNAME type, but everything was fine with just an A and TXT Type record.</p></li>
<li><p>Confirm DNS
1. On GitLab navigate: Settings -&gt; Pages -&gt; Domains: Details -&gt; Click the Verify button.</p></li>
</ol>
<p><strong>Boom! The site showed up!</strong></p>
<ol start="7" style="list-style-type: decimal">
<li>Setting up the subdomain.
<ol style="list-style-type: decimal">
<li>One last thing: We need to setup the subdomain “www” of wetlandscapes.com.</li>
<li>In AWS, got to Rout 53.</li>
<li>Hosted Zones.</li>
<li>wetlandscapes.com</li>
<li>Create Record Set.</li>
<li>Add “www” to the Name.</li>
<li>Alias: Yes.</li>
<li>Here is where those S3 buckets come into play. Alias Target: s3-website-us-west-2.amazonaws.com.
<ol style="list-style-type: decimal">
<li>It’s this link between the subdomain “www”, the bucket above, my “main” bucket, and my “main” site that allows this all to work. Pretty neat.</li>
</ol></li>
<li>Save Record Set.</li>
</ol></li>
</ol>
<p>The subdomain, www.wetlandscapes.com, was re-routing traffic immediately.</p>
</div>
<div id="various-intructions-and-resources" class="section level2">
<h2>Various intructions and resources</h2>
<ul>
<li><a href="https://docs.gitlab.com/ee/user/project/pages/custom_domains_ssl_tls_certification/index.html">GitLab general hosting instructions</a></li>
<li><a href="https://docs.gitlab.com/ee/user/project/pages/custom_domains_ssl_tls_certification/dns_concepts.html">GitLab DNS instructions</a></li>
<li><a href="https://docs.aws.amazon.com/AmazonS3/latest/dev/website-hosting-custom-domain-walkthrough.html">AWS static site information</a></li>
<li><a href="https://docs.aws.amazon.com/AmazonS3/latest/user-guide/create-bucket.html">AWS buckets info</a></li>
<li><a href="https://docs.aws.amazon.com/AmazonS3/latest/dev/LoggingWebsiteTraffic.html">AWS web traffic info</a></li>
</ul>
</div>
