---
title: 'Base R, the tidyverse, and data.table: A comparison of R dialects to wrangle your data'
author: Jason Mercer
date: '2020-01-27'
slug: a-comparison-of-r-dialects
categories:
  - R
  - Data-Science
tags:
  - Tidyverse
  - Data.Table
description: ''
featured: figure-data-1.png
featuredpath: ../blog/2020-01-27-a-comparison-of-r-dialects_files/figure-html
linktitle: ''
type: post
output:
  blogdown::html_page:
    toc: true
    dev: 'svg'
---

<script src="/rmarkdown-libs/htmlwidgets/htmlwidgets.js"></script>
<script src="/rmarkdown-libs/pymjs/pym.v1.js"></script>
<script src="/rmarkdown-libs/widgetframe-binding/widgetframe.js"></script>

<div id="TOC">
<ul>
<li><a href="#introduction">Introduction</a><ul>
<li><a href="#libraries">Libraries</a></li>
<li><a href="#the-data">The data</a></li>
</ul></li>
<li><a href="#dialect-comparison">Dialect comparison</a><ul>
<li><a href="#importing-data">Importing data</a><ul>
<li><a href="#reading-in-csv-data">Reading in csv data</a></li>
</ul></li>
<li><a href="#dataframe-base-data-manipulations">Dataframe-base data manipulations</a><ul>
<li><a href="#globally-remove-nas">Globally remove NAs</a></li>
<li><a href="#interlude-piping"><em>Interlude</em>: Piping</a></li>
<li><a href="#if-else-conditional-manipulations">If-else conditional manipulations</a></li>
<li><a href="#multiple-condition-manipulations">Multiple condition manipulations</a></li>
<li><a href="#filtering-observations-rows">Filtering observations (rows)</a></li>
<li><a href="#column-manipulation-changing-a-column">Column manipulation: <em>Changing</em> a column</a></li>
<li><a href="#interlude-related-tidyverse-mutate-functions"><em>Interlude</em>: Related tidyverse <code>mutate</code> functions</a></li>
<li><a href="#interlude-dot-.-notation-in-the-tidyverse"><em>Interlude</em>: Dot (.) notation in the tidyverse</a></li>
<li><a href="#column-manipulation-adding-columns">Column manipulation: <em>Adding</em> columns</a></li>
<li><a href="#selecting-variables-columns-positive-indexing">Selecting variables (columns): Positive indexing</a></li>
<li><a href="#interlude-infix-operators"><em>Interlude</em>: Infix operators</a></li>
<li><a href="#selecting-variables-columns-negative-indexing">Selecting variables (columns): Negative indexing</a></li>
<li><a href="#renaming-variables-columns">Renaming variables (columns)</a></li>
<li><a href="#interlude-back-ticks"><em>Interlude</em>: Back ticks</a></li>
<li><a href="#joining-data">Joining data</a></li>
<li><a href="#joining-data-full-join">Joining data: <em>Full</em> join</a></li>
<li><a href="#joining-data-inner-join">Joining data: <em>Inner</em> join</a></li>
<li><a href="#joining-data-left-join">Joining data: <em>Left</em> join</a></li>
<li><a href="#joining-data-right-join">Joining data: <em>Right</em> join</a></li>
<li><a href="#interlude-tidy-data-and-why-it-is-useful"><em>Interlude</em>: Tidy data and why it is useful</a></li>
<li><a href="#data-reshaping-pivoting-observations-to-variables">Data reshaping (pivoting): Observations to variables</a></li>
<li><a href="#data-reshaping-pivoting-variables-to-observations">Data reshaping (pivoting): Variables to observations</a></li>
</ul></li>
<li><a href="#iterators">Iterators</a><ul>
<li><a href="#imperitive-programming-and-the-for-loop">Imperitive programming and the <code>for</code> loop</a></li>
<li><a href="#functional-programming-iterators-an-alternative-to-imperative-loops">Functional programming iterators (an alternative to imperative loops)</a></li>
</ul></li>
<li><a href="#split-apply-combine-simple-aggregations">Split-apply-combine: Simple aggregations</a></li>
<li><a href="#split-apply-combine-more-complicatated-aggregations">Split-apply-combine: More complicatated aggregations</a></li>
</ul></li>
<li><a href="#appendix-of-other-useful-information">Appendix of other useful information</a></li>
</ul>
</div>

<style>
  code {
      margin: 0 0 !important;
  }
  
  .caption {
      padding-bottom: 8px;
      color: #777;
      text-align: left;
  }
  
  .base-src {
      border: 2px solid #1f78b4;
  }
  
  .base-out {
      border: 2px solid #a6cee3;
  }
  
  .tidyverse-src {
      border: 2px solid #33a02c;
  }
  
  .tidyverse-out {
      border: 2px solid #b2df8a;
  }
  
  .datatable-src {
      border: 2px solid #e31a1c;
  }
  
  .datatable-out {
      border: 2px solid #fb9a99;
  }
  
  .clicked {
      -webkit-box-shadow: 0 7px 4px #777;
    -moz-box-shadow: 0 7px 4px #777;
    box-shadow: 0 7px 4px #777;
  }
  
  .result-hidden {
      display: none;
  }
  
  .post {
      max-width: 75em !important;
  }
  
  #wrapper {
      max-width: 110em !important;
  }
</style>
<p><strong>Synopsis</strong>: Below are a number of examples comparing different ways to use base R, the tidyverse, and data.table. These examples are meant to provide something of a Rosetta Stone (an incomplete comparison of the dialects, but good enough to start the deciphering process) for comparing some common tasks in R using the different dialects. The examples start fairly simply and get progressively harder. I provide some additional information along the way, in case folks are new to R or programming more generally.</p>
<div id="introduction" class="section level1">
<h1>Introduction</h1>
<p>Welcome! If you use R you likely know there are different “flavors” (I’ll call them dialects or syntaxes) of the language that people use. Specifically, the common dialects are “base R”, the tidyverse, and data.table. Base R is what you get when you open up R for the first time, and was the only dialect for a long time. The tidyverse and data.table, in contrast, are add-ons (via packages) to the language. In my opinion, both add-on dialects drastically improve certain aspects of R, though there are definitely merits to coding only in base.</p>
<p>Some folks seem to prefer one coding style over another, but I think each dialect has it’s merits, and the use of a dialect depends on the problem at hand, as well as personal preference. For me, I just really like having different options that can solve different problems. The tidyverse, for example, emphasizes readability and flexibility, which is great when I need to write scaleable code that others can easily read. data.table, on the other hand, is lightening fast and very concise, so you can develop quickly and run super fast code, even when datasets get fairly large. Base R, however, is super stable, which may allow your code to withstand the tests of time for those longer-term projects. Base R is also closer to a “pure” programming language, meaning some of the base skills are more transferable to other languages.</p>
<p>Despite the benefits of each dialect, though, translating can sometimes be difficult. The intent of this post, then, is to provide a sense of how one might code the same task across dialects. These examples and translations are not meant to be exhaustive (there are many paths up this mountain). They’re probably not even best practice. But they are a way forward. And sometimes that is what is needed more than anything.</p>
<div id="libraries" class="section level2">
<h2>Libraries</h2>
<p>Below are the librarries used to create this document. I’m letting <code>knitr</code> print the tidyverse messages to the page so you can see what exact packages are core to the tidyverse. Other packages I use a lot are <code>broom</code> (which I’ll use here; great for getting tidy synopses of model outputs) and <code>lubridate</code> (for working with dates and times in R).</p>
<pre class="r fold-show"><code>library(magrittr) #Exports the special pipe we&#39;ll use, `%&lt;&gt;%`
library(data.table) #The data.table package
library(tidyverse) #Loads all the packages from the tidyverse</code></pre>
<pre><code>## -- Attaching packages ------------------------------------------------------------------ tidyverse 1.3.0 --</code></pre>
<pre><code>## v ggplot2 3.2.1     v purrr   0.3.3
## v tibble  2.1.3     v dplyr   0.8.4
## v tidyr   1.0.2     v stringr 1.4.0
## v readr   1.3.1     v forcats 0.4.0</code></pre>
<pre><code>## -- Conflicts --------------------------------------------------------------------- tidyverse_conflicts() --
## x dplyr::between()   masks data.table::between()
## x tidyr::extract()   masks magrittr::extract()
## x dplyr::filter()    masks stats::filter()
## x dplyr::first()     masks data.table::first()
## x dplyr::lag()       masks stats::lag()
## x dplyr::last()      masks data.table::last()
## x purrr::set_names() masks magrittr::set_names()
## x purrr::transpose() masks data.table::transpose()</code></pre>
</div>
<div id="the-data" class="section level2">
<h2>The data</h2>
<p>For the sake of consistency, we’ll work with the <a href="https://stat.ethz.ch/R-manual/R-patched/library/datasets/html/zCO2.html"><code>CO2</code> dataset</a>, which comes with R. Focusing mostly on just this one dataset will keep things simple.</p>
<pre class="r"><code>#Load in the data
data(&quot;CO2&quot;)</code></pre>
<p><br />
In case you don’t have R open, the table below provides all the data, to help convey the structure of <code>CO2</code>.</p>
<div id="htmlwidget-1" style="width:100%;height:540px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-1">{"x":{"url":"/blog/2020-01-27-a-comparison-of-r-dialects_files/figure-html//widgets/widget_tabbed-data.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
<p>Below is a visual summary of the dataset (along with code), to help highlight the relationships between the different variables.</p>
<pre class="r"><code>CO2 %&gt;%
  #Summarise the data for easier plotting
  group_by(Type, Treatment, conc) %&gt;%
  summarise(mean = mean(uptake),
    lo = quantile(uptake, probs = 0.975),
    hi = quantile(uptake, probs = 0.025)) %&gt;%
  ungroup() %&gt;%
  #Change the names to something a little nicer looking
  mutate(Treatment = fct_recode(Treatment, Chilled = &quot;chilled&quot;,
    `Non-chilled` = &quot;nonchilled&quot;)) %&gt;%
  #Plot!
  ggplot(aes(conc, mean, fill = Treatment, group = interaction(conc, Treatment, Type))) +
  geom_errorbar(aes(ymax = hi, ymin = lo),
    width = 0,
    position = position_jitterdodge(jitter.width = 0, dodge.width = 40,
      seed = 20200120)) +
  geom_point(aes(shape = Type, size = Type),
    position = position_jitterdodge(jitter.width = 0, dodge.width = 40,
      seed = 20200120)) +
  labs(x = expression(CO[2]~concentration~(mu*L/L)),
    y = expression(CO[2]~uptake~(mu*mol~m^{-2}~s^{-1})),
    fill = &quot;Treatment\n(colors)&quot;,
    shape = &quot;Plant origin\n(shapes)&quot;,
    size = &quot;Plant origin\n(shapes)&quot;) +
  theme_bw() +
  theme(text = element_text(family = &quot;serif&quot;)) +
  scale_shape_manual(values = c(21, 24)) +
  scale_size_manual(values = c(4, 3)) +
  scale_fill_brewer(palette = &quot;Set1&quot;) +
  guides(fill = guide_legend(override.aes = list(shape = 22, size = 4, stroke = NA)))</code></pre>
<div class="figure"><span id="fig:figure-data"></span>
<img src="/blog/2020-01-27-a-comparison-of-r-dialects_files/figure-html/figure-data-1.svg" alt="Figure: A visual summary of the CO&lt;sub&gt;2&lt;/sub&gt; data set. Error bars represent the 95th percentile of a given set of measurements, while the point (shape) is the mean. Note that CO&lt;sub&gt;2&lt;/sub&gt; concentrations are slightly jittered to improve visualization of the data by reducing overlap between points." width="100%" />
<p class="caption">
Figure 1: Figure: A visual summary of the CO<sub>2</sub> data set. Error bars represent the 95th percentile of a given set of measurements, while the point (shape) is the mean. Note that CO<sub>2</sub> concentrations are slightly jittered to improve visualization of the data by reducing overlap between points.
</p>
</div>
</div>
</div>
<div id="dialect-comparison" class="section level1">
<h1>Dialect comparison</h1>
<p>This post was largely inpsired by <a href="https://www.significantdigits.org/2017/10/switching-from-base-r-to-tidyverse/">significant digit’s blog post</a>, which provides an even longer comparison of base and tidyverse functions, but does not provide data.table alternatives.</p>
<p>The sections below are organized by similar tasks, getting progressively more difficult. In some cases I provide different versions of the same task, each with a slight twist. I also tried to keep each dialect in the same order for every task. In that context, each section contains color-coordinated base R code, tidyverse code, and data.table code that all do the same thing, but in their own way. You can click each code block to reveal the result of that block. Below are just some examples of what that interactivity looks like.</p>
<p>I should mention that I don’t use data.table much (one of the reasons I’m making this document – to get better at using and understanding the package), so some of that code may not always be very good. In fact, none of it may be very good, but it will get the job done, sooo…</p>
<pre class="r base-src intro"><code>This is a **base R** code block. Click this block to reveal the code result.</code></pre>
<pre class="base-out intro"><code>## This is a base R result block. Click either this or the above block to hide the result.</code></pre>
<pre class="r tidyverse-src intro"><code>This is a **tidyverse** code block. Click this block to reveal the code result.</code></pre>
<pre class="tidyverse-out intro"><code>## This is a tidyverse result block. Click either this or the above block to hide the result.</code></pre>
<pre class="r datatable-src intro"><code>This is a **data.table** code block. Click this block to reveal the result of this code.</code></pre>
<pre class="datatable-out intro"><code>## This is a data.table result block. Click either this or the above block to hide the result.</code></pre>
<p>In some cases multiple examples of a tasks are provide. In other cases a paricular task cannot be easily performed using a given synax, so no example is provided.</p>
<div id="importing-data" class="section level2">
<h2>Importing data</h2>
<div id="reading-in-csv-data" class="section level3">
<h3>Reading in csv data</h3>
<p>Importing data is a pretty basic task. Below are just a few examples of how we might import data from a csv file across dialects. For other ways of importing data, check out the <a href="#appendix-of-other-useful-information">appendix</a>.</p>
<pre class="r base-src"><code>data_base &lt;- read.csv(&quot;../../static/data/co2.csv&quot;, stringsAsFactors = FALSE)
head(data_base)</code></pre>
<pre class="base-out"><code>##   Plant   Type  Treatment conc uptake
## 1   Qn1 Quebec nonchilled   NA   16.0
## 2   Qn1 Quebec nonchilled  175   30.4
## 3   Qn1 Quebec nonchilled  250   34.8
## 4   Qn1 Quebec nonchilled  350   37.2
## 5   Qn1 Quebec nonchilled  500   35.3
## 6   Qn1 Quebec nonchilled  675   39.2</code></pre>
<pre class="r tidyverse-src"><code>data_tidy &lt;- read_csv(&quot;../../static/data/co2.csv&quot;)
head(data_tidy)</code></pre>
<pre class="tidyverse-out"><code>## # A tibble: 6 x 5
##   Plant Type   Treatment   conc uptake
##   &lt;chr&gt; &lt;chr&gt;  &lt;chr&gt;      &lt;dbl&gt;  &lt;dbl&gt;
## 1 Qn1   Quebec nonchilled    NA   16  
## 2 Qn1   Quebec nonchilled   175   30.4
## 3 Qn1   Quebec nonchilled   250   34.8
## 4 Qn1   Quebec nonchilled   350   37.2
## 5 Qn1   Quebec nonchilled   500   35.3
## 6 Qn1   Quebec nonchilled   675   39.2</code></pre>
<pre class="r datatable-src"><code>data_dt &lt;- fread(&quot;../../static/data/co2.csv&quot;)
head(data_dt)</code></pre>
<pre class="datatable-out"><code>##    Plant   Type  Treatment conc uptake
## 1:   Qn1 Quebec nonchilled   NA   16.0
## 2:   Qn1 Quebec nonchilled  175   30.4
## 3:   Qn1 Quebec nonchilled  250   34.8
## 4:   Qn1 Quebec nonchilled  350   37.2
## 5:   Qn1 Quebec nonchilled  500   35.3
## 6:   Qn1 Quebec nonchilled  675   39.2</code></pre>
</div>
</div>
<div id="dataframe-base-data-manipulations" class="section level2">
<h2>Dataframe-base data manipulations</h2>
<p>Dataframes are a key data type in R-based data analysis, so most of the this document will focus on manipulating this kind of data. However, some other types of manipulations are provided later in the document, which focus on combining dataframes and lists (dataframes are actually a kind of list).</p>
<div id="globally-remove-nas" class="section level3">
<h3>Globally remove NAs</h3>
<p>Certain kinds of analysis or workflows can’t handle <code>NA</code> values. Thus, it can sometimes be useful to remove all these values from a data frame.</p>
<pre class="r base-src"><code>data_base &lt;- data_base[complete.cases(data_base), ]
head(data_base)</code></pre>
<pre class="base-out"><code>##   Plant   Type  Treatment conc uptake
## 2   Qn1 Quebec nonchilled  175   30.4
## 3   Qn1 Quebec nonchilled  250   34.8
## 4   Qn1 Quebec nonchilled  350   37.2
## 5   Qn1 Quebec nonchilled  500   35.3
## 6   Qn1 Quebec nonchilled  675   39.2
## 7   Qn1 Quebec nonchilled 1000   39.7</code></pre>
<pre class="r tidyverse-src"><code>data_tidy &lt;- drop_na(data_tidy)
head(data_tidy)</code></pre>
<pre class="tidyverse-out"><code>## # A tibble: 6 x 5
##   Plant Type   Treatment   conc uptake
##   &lt;chr&gt; &lt;chr&gt;  &lt;chr&gt;      &lt;dbl&gt;  &lt;dbl&gt;
## 1 Qn1   Quebec nonchilled   175   30.4
## 2 Qn1   Quebec nonchilled   250   34.8
## 3 Qn1   Quebec nonchilled   350   37.2
## 4 Qn1   Quebec nonchilled   500   35.3
## 5 Qn1   Quebec nonchilled   675   39.2
## 6 Qn1   Quebec nonchilled  1000   39.7</code></pre>
<pre class="r datatable-src"><code>data_dt &lt;- na.omit(data_dt)
head(data_dt)</code></pre>
<pre class="datatable-out"><code>##    Plant   Type  Treatment conc uptake
## 1:   Qn1 Quebec nonchilled  175   30.4
## 2:   Qn1 Quebec nonchilled  250   34.8
## 3:   Qn1 Quebec nonchilled  350   37.2
## 4:   Qn1 Quebec nonchilled  500   35.3
## 5:   Qn1 Quebec nonchilled  675   39.2
## 6:   Qn1 Quebec nonchilled 1000   39.7</code></pre>
<hr />
</div>
<div id="interlude-piping" class="section level3">
<h3><em>Interlude</em>: Piping</h3>
<p>Piping (sometimes called chaining) is the action of taking initial or processed data and passing it to another function or variable. There are a couple of (overlapping) benefits to piping:</p>
<ol style="list-style-type: decimal">
<li>Bloomin’ the onion: Base R code is often nested with the first function performed on some data inside of the nest and the last function on the outside. This nested structure is often difficult to read and understand. By reorganizing with pipes, starting with the data and passing the results to a series of functions, we can unnest our code, making data and actions performed on the data more obvious.</li>
<li>Readability and intent: A typical consequence of reorganizing code using pipes is that the data and functions are now in a more logical order. This logical order improves code readability and the conveyence of intent, which is both good for future you (the person most likely to use your code again) and others potentially interested in using your code for their own work (such as a collaborator).</li>
</ol>
<p>Here is a <em>very</em> contrived example of deeply nested code that gets the average values of two variables for two plants in the <code>CO2</code> dataset. I’ve seen stuff like this in the wild, but there are much more efficient ways of doing this, even in base R (see the <a href="#filtering-observations-rows">filtering</a>, <a href="#selecting-variables-columns-positive-indexing">selecting</a>, and <a href="#split-apply-combine-simple-aggregations">aggregating</a> examples).</p>
<pre class="r"><code>as.data.frame(t(sapply(X = split(x = CO2[which(CO2$Plant %in% c(&quot;Mn2&quot;, &quot;Mn3&quot;)), which(colnames(CO2) %in% c(&quot;conc&quot;, &quot;uptake&quot;))],
    f = CO2$Plant[which(CO2$Plant %in% c(&quot;Mn2&quot;, &quot;Mn3&quot;))],
    drop = TRUE),
  FUN = function(x) {apply(x, 2, mean)})))</code></pre>
<pre><code>##     conc   uptake
## Mn3  435 24.11429
## Mn2  435 27.34286</code></pre>
<p>Note that generating exactly the same results as those below would require some additional clean-up as the Plant names are now rownames and not their own column.</p>
<div id="tidyverse" class="section level4">
<h4>tidyverse</h4>
<ul>
<li><code>%&gt;%</code>: Used to pass either raw data or data resulting from a function to another function for addtional processing.</li>
<li><code>%&lt;&gt;%</code>: Not strictly part of the tidyverse, but I find it useful in some circumstances (and comes from the same package as <code>%&gt;%</code>, <code>magrittr</code>). This operator basically replaces <code>data &lt;- data %&gt;% ...</code>. In otherwords, it just over-writes the current variable with whatever is returned from some functions/instructions that follow.</li>
</ul>
<p>Below is a replacement for the nested base R code provided above:</p>
<pre class="r"><code>CO2 %&gt;%
  filter(Plant %in% c(&quot;Mn2&quot;, &quot;Mn3&quot;)) %&gt;% # Get the two plants we care about
  select(Plant, conc, uptake) %&gt;% # Focus on the variable we want
  group_by(Plant) %&gt;% # Seperate/group the analysis to focus on individual plants
  summarise_all(mean) # Get the means for conc and uptake</code></pre>
<pre><code>## # A tibble: 2 x 3
##   Plant  conc uptake
##   &lt;ord&gt; &lt;dbl&gt;  &lt;dbl&gt;
## 1 Mn3     435   24.1
## 2 Mn2     435   27.3</code></pre>
<p>Personally, I can read that much easer than the base code, though it requires some practice.</p>
</div>
<div id="data.table" class="section level4">
<h4>data.table</h4>
<ul>
<li><code>][</code>: Effectively, pipes in data.table look as if you are connecting subsets of a dataframe. And really that’s what is happening, at some level.</li>
</ul>
<p>Here is an example of using data.table’s pipes to, again, replace the nested base R code provided earlier:</p>
<pre class="r"><code>CO2_dt &lt;- CO2 # Copy to data to a format usable with data.table
setDT(CO2_dt) # Convert to data.table object
CO2_dt[Plant %in% c(&quot;Mn2&quot;, &quot;Mn3&quot;), # Get the plants we care about
  c(&quot;Plant&quot;, &quot;conc&quot;, &quot;uptake&quot;)  ][ # Select the variables of interest
  , lapply(.SD, mean), by = Plant] # List-apply the mean function using the .SD operator for each plant</code></pre>
<pre><code>##    Plant conc   uptake
## 1:   Mn2  435 27.34286
## 2:   Mn3  435 24.11429</code></pre>
<p>Basically, I could do in one call what might take multiple lines to do in base R or the tidyverse, and the result is run really fast. There are some extra things going on here, like the <code>.SD</code> object, but we can only cover so much… (to learn more about <code>.SD</code> in data.table, check out <a href="https://cran.r-project.org/web/packages/data.table/vignettes/datatable-sd-usage.html">this vignette</a>)</p>
<hr />
</div>
</div>
<div id="if-else-conditional-manipulations" class="section level3">
<h3>If-else conditional manipulations</h3>
<p>If-else statements are useful when we’d like to evaluate a condition and return either option A or option B. We’ll use the vectorized form of if-else statements, for the sake of simplicity.</p>
<pre class="r base-src"><code>data_base$Treatment &lt;- ifelse(data_base$Treatment == &quot;non-chilled&quot;, &quot;nonchilled&quot;, data_base$Treatment)
head(data_base)</code></pre>
<pre class="base-out"><code>##   Plant   Type  Treatment conc uptake
## 2   Qn1 Quebec nonchilled  175   30.4
## 3   Qn1 Quebec nonchilled  250   34.8
## 4   Qn1 Quebec nonchilled  350   37.2
## 5   Qn1 Quebec nonchilled  500   35.3
## 6   Qn1 Quebec nonchilled  675   39.2
## 7   Qn1 Quebec nonchilled 1000   39.7</code></pre>
<pre class="r tidyverse-src"><code>data_tidy %&lt;&gt;% mutate(Treatment = if_else(Treatment == &quot;non-chilled&quot;, &quot;nonchilled&quot;, Treatment))
head(data_tidy)</code></pre>
<pre class="tidyverse-out"><code>## # A tibble: 6 x 5
##   Plant Type   Treatment   conc uptake
##   &lt;chr&gt; &lt;chr&gt;  &lt;chr&gt;      &lt;dbl&gt;  &lt;dbl&gt;
## 1 Qn1   Quebec nonchilled   175   30.4
## 2 Qn1   Quebec nonchilled   250   34.8
## 3 Qn1   Quebec nonchilled   350   37.2
## 4 Qn1   Quebec nonchilled   500   35.3
## 5 Qn1   Quebec nonchilled   675   39.2
## 6 Qn1   Quebec nonchilled  1000   39.7</code></pre>
<pre class="r datatable-src"><code>data_dt[, Treatment := ifelse(Treatment == &quot;non-chilled&quot;, &quot;nonchilled&quot;, Treatment)]
head(data_dt)</code></pre>
<pre class="datatable-out"><code>##    Plant   Type  Treatment conc uptake
## 1:   Qn1 Quebec nonchilled  175   30.4
## 2:   Qn1 Quebec nonchilled  250   34.8
## 3:   Qn1 Quebec nonchilled  350   37.2
## 4:   Qn1 Quebec nonchilled  500   35.3
## 5:   Qn1 Quebec nonchilled  675   39.2
## 6:   Qn1 Quebec nonchilled 1000   39.7</code></pre>
</div>
<div id="multiple-condition-manipulations" class="section level3">
<h3>Multiple condition manipulations</h3>
<p>Sometimes it’s not enough to have only two conditions. In those cases we’d like to evaluate many possible outcomes. For those circumstances we can use the unvectorized <code>switch()</code> from base R, or the vectorized <code>case_when()</code> from the tidyverse. If you’d like to know more about vectorization, checkout <a href="../../blog/vectorize-in-r/">this other post</a> on the topic.</p>
<pre class="r base-src"><code>#Because `switch` is not vectorized, it&#39;s easier to use it in a stand alone function
# We can then use this function with an iterator (more on those later)
plant_switcher &lt;- function(Plant) {
  switch(Plant,
         &quot;Qn1&quot; = &quot;A nice plant&quot;,
         &quot;Qn2&quot; = &quot;A lovely plant&quot;,
         &quot;Qn3&quot; = &quot;A marvelous plant&quot;,
          Plant)}
data_base$Plant &lt;- sapply(data_base$Plant, plant_switcher, USE.NAMES = FALSE)
head(data_base)</code></pre>
<pre class="base-out"><code>##          Plant   Type  Treatment conc uptake
## 2 A nice plant Quebec nonchilled  175   30.4
## 3 A nice plant Quebec nonchilled  250   34.8
## 4 A nice plant Quebec nonchilled  350   37.2
## 5 A nice plant Quebec nonchilled  500   35.3
## 6 A nice plant Quebec nonchilled  675   39.2
## 7 A nice plant Quebec nonchilled 1000   39.7</code></pre>
<pre class="r tidyverse-src"><code>#`case_when` is already vectorized, so we don&#39;t need to use an iterator
data_tidy %&lt;&gt;% mutate(Plant = case_when(
  Plant == &quot;Qn1&quot; ~ &quot;A nice plant&quot;,
  Plant == &quot;Qn2&quot; ~ &quot;A lovely plant&quot;,
  Plant == &quot;Qn3&quot; ~ &quot;A marvelous plant&quot;,
  #Default condition; just returns the current value of the Plant variable if the above
  # conditions aren&#39;t met 
  TRUE ~ Plant)) 
head(data_tidy)</code></pre>
<pre class="tidyverse-out"><code>## # A tibble: 6 x 5
##   Plant        Type   Treatment   conc uptake
##   &lt;chr&gt;        &lt;chr&gt;  &lt;chr&gt;      &lt;dbl&gt;  &lt;dbl&gt;
## 1 A nice plant Quebec nonchilled   175   30.4
## 2 A nice plant Quebec nonchilled   250   34.8
## 3 A nice plant Quebec nonchilled   350   37.2
## 4 A nice plant Quebec nonchilled   500   35.3
## 5 A nice plant Quebec nonchilled   675   39.2
## 6 A nice plant Quebec nonchilled  1000   39.7</code></pre>
<pre class="r datatable-src"><code>plant_switcher &lt;- function(Plant) {
  switch(Plant,
         &quot;Qn1&quot; = &quot;A nice plant&quot;,
         &quot;Qn2&quot; = &quot;A lovely plant&quot;,
         &quot;Qn3&quot; = &quot;A marvelous plant&quot;,
          Plant)}
data_dt[, Plant := plant_switcher(Plant), by = row.names(data_dt)]
head(data_dt)</code></pre>
<pre class="datatable-out"><code>##           Plant   Type  Treatment conc uptake
## 1: A nice plant Quebec nonchilled  175   30.4
## 2: A nice plant Quebec nonchilled  250   34.8
## 3: A nice plant Quebec nonchilled  350   37.2
## 4: A nice plant Quebec nonchilled  500   35.3
## 5: A nice plant Quebec nonchilled  675   39.2
## 6: A nice plant Quebec nonchilled 1000   39.7</code></pre>
</div>
<div id="filtering-observations-rows" class="section level3">
<h3>Filtering observations (rows)</h3>
<p>Filtering involves returning only those rows of a dataframe that meet specific criteria. Boolean logic and indexing underlie this task, so be sure you understand how those two things can work together to filter in base R, as the same logic applies to the other two dialects.</p>
<pre class="r base-src"><code>#Option 1: Using boolean logic and indexing
data_base[data_base$Plant == &quot;Mn1&quot;, ]</code></pre>
<pre class="base-out"><code>##    Plant        Type  Treatment conc uptake
## 43   Mn1 Mississippi nonchilled   95   10.6
## 44   Mn1 Mississippi nonchilled  175   19.2
## 45   Mn1 Mississippi nonchilled  250   26.2
## 46   Mn1 Mississippi nonchilled  350   30.0
## 47   Mn1 Mississippi nonchilled  500   30.9
## 48   Mn1 Mississippi nonchilled  675   32.4
## 49   Mn1 Mississippi nonchilled 1000   35.5</code></pre>
<pre class="r base-src"><code>#Option 2: Using `subset()`
subset(data_base, Plant == &quot;Mn1&quot;)</code></pre>
<pre class="base-out"><code>##    Plant        Type  Treatment conc uptake
## 43   Mn1 Mississippi nonchilled   95   10.6
## 44   Mn1 Mississippi nonchilled  175   19.2
## 45   Mn1 Mississippi nonchilled  250   26.2
## 46   Mn1 Mississippi nonchilled  350   30.0
## 47   Mn1 Mississippi nonchilled  500   30.9
## 48   Mn1 Mississippi nonchilled  675   32.4
## 49   Mn1 Mississippi nonchilled 1000   35.5</code></pre>
<pre class="r tidyverse-src"><code>filter(data_tidy, Plant == &quot;Mn1&quot;)</code></pre>
<pre class="tidyverse-out"><code>## # A tibble: 7 x 5
##   Plant Type        Treatment   conc uptake
##   &lt;chr&gt; &lt;chr&gt;       &lt;chr&gt;      &lt;dbl&gt;  &lt;dbl&gt;
## 1 Mn1   Mississippi nonchilled    95   10.6
## 2 Mn1   Mississippi nonchilled   175   19.2
## 3 Mn1   Mississippi nonchilled   250   26.2
## 4 Mn1   Mississippi nonchilled   350   30  
## 5 Mn1   Mississippi nonchilled   500   30.9
## 6 Mn1   Mississippi nonchilled   675   32.4
## 7 Mn1   Mississippi nonchilled  1000   35.5</code></pre>
<pre class="r datatable-src"><code>data_dt[Plant == &quot;Mn1&quot;]</code></pre>
<pre class="datatable-out"><code>##    Plant        Type  Treatment conc uptake
## 1:   Mn1 Mississippi nonchilled   95   10.6
## 2:   Mn1 Mississippi nonchilled  175   19.2
## 3:   Mn1 Mississippi nonchilled  250   26.2
## 4:   Mn1 Mississippi nonchilled  350   30.0
## 5:   Mn1 Mississippi nonchilled  500   30.9
## 6:   Mn1 Mississippi nonchilled  675   32.4
## 7:   Mn1 Mississippi nonchilled 1000   35.5</code></pre>
</div>
<div id="column-manipulation-changing-a-column" class="section level3">
<h3>Column manipulation: <em>Changing</em> a column</h3>
<p>Sometimes you need to change the values of a variable that already exist. In this example we’ll convert the concentration of CO<sub>2</sub> from mL/L to L/L.</p>
<pre class="r base-src"><code>data_base$conc &lt;- data_base$conc / 1000
head(data_base)</code></pre>
<pre class="base-out"><code>##          Plant   Type  Treatment  conc uptake
## 2 A nice plant Quebec nonchilled 0.175   30.4
## 3 A nice plant Quebec nonchilled 0.250   34.8
## 4 A nice plant Quebec nonchilled 0.350   37.2
## 5 A nice plant Quebec nonchilled 0.500   35.3
## 6 A nice plant Quebec nonchilled 0.675   39.2
## 7 A nice plant Quebec nonchilled 1.000   39.7</code></pre>
<pre class="r tidyverse-src"><code>data_tidy %&lt;&gt;% mutate(conc = conc / 1000)
head(data_tidy)</code></pre>
<pre class="tidyverse-out"><code>## # A tibble: 6 x 5
##   Plant        Type   Treatment   conc uptake
##   &lt;chr&gt;        &lt;chr&gt;  &lt;chr&gt;      &lt;dbl&gt;  &lt;dbl&gt;
## 1 A nice plant Quebec nonchilled 0.175   30.4
## 2 A nice plant Quebec nonchilled 0.25    34.8
## 3 A nice plant Quebec nonchilled 0.35    37.2
## 4 A nice plant Quebec nonchilled 0.5     35.3
## 5 A nice plant Quebec nonchilled 0.675   39.2
## 6 A nice plant Quebec nonchilled 1       39.7</code></pre>
<pre class="r datatable-src"><code>data_dt[, conc := conc / 1000]
head(data_dt)</code></pre>
<pre class="datatable-out"><code>##           Plant   Type  Treatment  conc uptake
## 1: A nice plant Quebec nonchilled 0.175   30.4
## 2: A nice plant Quebec nonchilled 0.250   34.8
## 3: A nice plant Quebec nonchilled 0.350   37.2
## 4: A nice plant Quebec nonchilled 0.500   35.3
## 5: A nice plant Quebec nonchilled 0.675   39.2
## 6: A nice plant Quebec nonchilled 1.000   39.7</code></pre>
<hr />
</div>
<div id="interlude-related-tidyverse-mutate-functions" class="section level3">
<h3><em>Interlude</em>: Related tidyverse <code>mutate</code> functions</h3>
<p>In the above example I just introduced you to <code>mutate()</code>. That is the basic form of the function, but there are other forms, that can also be really useful, including:</p>
<ul>
<li><code>mutate_at</code>: Used to apply a function to specific variables.</li>
<li><code>mutate_all</code>: Applies a function to all variables.</li>
<li><code>mutate_if</code>: Conditionally applies a function to a variable.</li>
</ul>
<p>For example, the <code>CO2</code> dataframe has three factor columns (Plant, Type, and Treatment), but if I wanted them to be character vectors instead (which are usually easier to deal with) then I could use <code>mutate_if</code> to conditionally select factor columns and convert them to character columns, like so:</p>
<pre class="r"><code>CO2 %&lt;&gt;% mutate_if(is.factor, as.character) %&gt;% as_tibble()
head(CO2)</code></pre>
<pre><code>## # A tibble: 6 x 5
##   Plant Type   Treatment   conc uptake
##   &lt;chr&gt; &lt;chr&gt;  &lt;chr&gt;      &lt;dbl&gt;  &lt;dbl&gt;
## 1 Qn1   Quebec nonchilled    95   16  
## 2 Qn1   Quebec nonchilled   175   30.4
## 3 Qn1   Quebec nonchilled   250   34.8
## 4 Qn1   Quebec nonchilled   350   37.2
## 5 Qn1   Quebec nonchilled   500   35.3
## 6 Qn1   Quebec nonchilled   675   39.2</code></pre>
<p>Notice that the data type value under each variable name is now <code>&lt;chr&gt;</code>, indicating that column is now a character vector.</p>
</div>
<div id="interlude-dot-.-notation-in-the-tidyverse" class="section level3">
<h3><em>Interlude</em>: Dot (.) notation in the tidyverse</h3>
<p>Dot notation is used to symbolically pass the result of a pipe to another function. This passing can either be explicit or implicit. One benefit of dot notation is that we do not have to explictly name intermediate objects passed from one function to another function during piping. The downside of this syntax is that the learning curve is steep. However, once you learn this convention, it can make your coding style much more flexible, meaning, code reusability increases.</p>
<p>An implict example of using dot notation:</p>
<pre class="r"><code>CO2 %&gt;% mutate(new_column = &quot;data in new col&quot;) %&gt;% head()</code></pre>
<pre><code>## # A tibble: 6 x 6
##   Plant Type   Treatment   conc uptake new_column     
##   &lt;chr&gt; &lt;chr&gt;  &lt;chr&gt;      &lt;dbl&gt;  &lt;dbl&gt; &lt;chr&gt;          
## 1 Qn1   Quebec nonchilled    95   16   data in new col
## 2 Qn1   Quebec nonchilled   175   30.4 data in new col
## 3 Qn1   Quebec nonchilled   250   34.8 data in new col
## 4 Qn1   Quebec nonchilled   350   37.2 data in new col
## 5 Qn1   Quebec nonchilled   500   35.3 data in new col
## 6 Qn1   Quebec nonchilled   675   39.2 data in new col</code></pre>
<p>An explicit example of using dot notation</p>
<pre class="r"><code>#Note that &#39;.data&#39; is the name of the first argument of the mutate function.
CO2 %&gt;% mutate(.data = ., new_column = &quot;data in new col&quot;) %&gt;% head()</code></pre>
<pre><code>## # A tibble: 6 x 6
##   Plant Type   Treatment   conc uptake new_column     
##   &lt;chr&gt; &lt;chr&gt;  &lt;chr&gt;      &lt;dbl&gt;  &lt;dbl&gt; &lt;chr&gt;          
## 1 Qn1   Quebec nonchilled    95   16   data in new col
## 2 Qn1   Quebec nonchilled   175   30.4 data in new col
## 3 Qn1   Quebec nonchilled   250   34.8 data in new col
## 4 Qn1   Quebec nonchilled   350   37.2 data in new col
## 5 Qn1   Quebec nonchilled   500   35.3 data in new col
## 6 Qn1   Quebec nonchilled   675   39.2 data in new col</code></pre>
<p>In the example below, the <code>.</code> no longer represents the dataframe being passed to <code>mutate_at</code>, but the individual columns being passed to the <code>mean</code> function. This the meaning of <code>.</code> depends on context.</p>
<pre class="r"><code>mutate_at(data_tidy, vars(uptake, conc), list(mean = ~mean(.))) %&gt;% head()</code></pre>
<pre><code>## # A tibble: 6 x 7
##   Plant        Type   Treatment   conc uptake uptake_mean conc_mean
##   &lt;chr&gt;        &lt;chr&gt;  &lt;chr&gt;      &lt;dbl&gt;  &lt;dbl&gt;       &lt;dbl&gt;     &lt;dbl&gt;
## 1 A nice plant Quebec nonchilled 0.175   30.4        27.3     0.304
## 2 A nice plant Quebec nonchilled 0.25    34.8        27.3     0.304
## 3 A nice plant Quebec nonchilled 0.35    37.2        27.3     0.304
## 4 A nice plant Quebec nonchilled 0.5     35.3        27.3     0.304
## 5 A nice plant Quebec nonchilled 0.675   39.2        27.3     0.304
## 6 A nice plant Quebec nonchilled 1       39.7        27.3     0.304</code></pre>
<hr />
</div>
<div id="column-manipulation-adding-columns" class="section level3">
<h3>Column manipulation: <em>Adding</em> columns</h3>
<p>Sometimes we need to make a new variable, which might be some new information, or the combination of other variables. Here, we’ll scale the <code>uptake</code> and <code>conc</code> variables so that their values are roughly standard normal (normally distributed with a mean of zero and a standard deviation of one).</p>
<pre class="r base-src"><code>data_base$conc_scaled &lt;- scale(data_base$conc)
data_base$uptake_scaled &lt;- scale(data_base$uptake)
head(data_base)</code></pre>
<pre class="base-out"><code>##          Plant   Type  Treatment  conc uptake conc_scaled uptake_scaled
## 2 A nice plant Quebec nonchilled 0.175   30.4 -0.10883975     0.2823498
## 3 A nice plant Quebec nonchilled 0.250   34.8 -0.04534883     0.6894328
## 4 A nice plant Quebec nonchilled 0.350   37.2  0.03930572     0.9114781
## 5 A nice plant Quebec nonchilled 0.500   35.3  0.16628755     0.7356923
## 6 A nice plant Quebec nonchilled 0.675   39.2  0.31443302     1.0965159
## 7 A nice plant Quebec nonchilled 1.000   39.7  0.58956032     1.1427753</code></pre>
<pre class="r tidyverse-src"><code>data_tidy %&lt;&gt;% mutate_at(vars(conc, uptake), list(scaled = ~scale(.)[, 1]))
head(data_tidy)</code></pre>
<pre class="tidyverse-out"><code>## # A tibble: 6 x 7
##   Plant        Type   Treatment   conc uptake conc_scaled uptake_scaled
##   &lt;chr&gt;        &lt;chr&gt;  &lt;chr&gt;      &lt;dbl&gt;  &lt;dbl&gt;       &lt;dbl&gt;         &lt;dbl&gt;
## 1 A nice plant Quebec nonchilled 0.175   30.4     -0.109          0.282
## 2 A nice plant Quebec nonchilled 0.25    34.8     -0.0453         0.689
## 3 A nice plant Quebec nonchilled 0.35    37.2      0.0393         0.911
## 4 A nice plant Quebec nonchilled 0.5     35.3      0.166          0.736
## 5 A nice plant Quebec nonchilled 0.675   39.2      0.314          1.10 
## 6 A nice plant Quebec nonchilled 1       39.7      0.590          1.14</code></pre>
<pre class="r datatable-src"><code>data_dt[, conc_scaled := scale(conc)]
data_dt[, uptake_scaled := scale(uptake)]
head(data_dt)</code></pre>
<pre class="datatable-out"><code>##           Plant   Type  Treatment  conc uptake conc_scaled uptake_scaled
## 1: A nice plant Quebec nonchilled 0.175   30.4 -0.10883975     0.2823498
## 2: A nice plant Quebec nonchilled 0.250   34.8 -0.04534883     0.6894328
## 3: A nice plant Quebec nonchilled 0.350   37.2  0.03930572     0.9114781
## 4: A nice plant Quebec nonchilled 0.500   35.3  0.16628755     0.7356923
## 5: A nice plant Quebec nonchilled 0.675   39.2  0.31443302     1.0965159
## 6: A nice plant Quebec nonchilled 1.000   39.7  0.58956032     1.1427753</code></pre>
</div>
<div id="selecting-variables-columns-positive-indexing" class="section level3">
<h3>Selecting variables (columns): Positive indexing</h3>
<p>Sometimes we don’t need every bit of information for a given analysis and instead just need to focus on a few variables. One way of selecting variables is to name all the variables we’d like to include in our analysis.</p>
<pre class="r base-src"><code>data_base &lt;- data_base[, c(&quot;Plant&quot;, &quot;Type&quot;, &quot;Treatment&quot;, &quot;conc&quot;, &quot;uptake&quot;, &quot;conc_scaled&quot;)]
head(data_base)</code></pre>
<pre class="base-out"><code>##          Plant   Type  Treatment  conc uptake conc_scaled
## 2 A nice plant Quebec nonchilled 0.175   30.4 -0.10883975
## 3 A nice plant Quebec nonchilled 0.250   34.8 -0.04534883
## 4 A nice plant Quebec nonchilled 0.350   37.2  0.03930572
## 5 A nice plant Quebec nonchilled 0.500   35.3  0.16628755
## 6 A nice plant Quebec nonchilled 0.675   39.2  0.31443302
## 7 A nice plant Quebec nonchilled 1.000   39.7  0.58956032</code></pre>
<pre class="r tidyverse-src"><code>data_tidy %&lt;&gt;% select(Plant, Type, Treatment, conc, uptake, conc_scaled)
head(data_tidy)</code></pre>
<pre class="tidyverse-out"><code>## # A tibble: 6 x 6
##   Plant        Type   Treatment   conc uptake conc_scaled
##   &lt;chr&gt;        &lt;chr&gt;  &lt;chr&gt;      &lt;dbl&gt;  &lt;dbl&gt;       &lt;dbl&gt;
## 1 A nice plant Quebec nonchilled 0.175   30.4     -0.109 
## 2 A nice plant Quebec nonchilled 0.25    34.8     -0.0453
## 3 A nice plant Quebec nonchilled 0.35    37.2      0.0393
## 4 A nice plant Quebec nonchilled 0.5     35.3      0.166 
## 5 A nice plant Quebec nonchilled 0.675   39.2      0.314 
## 6 A nice plant Quebec nonchilled 1       39.7      0.590</code></pre>
<pre class="r datatable-src"><code>data_dt &lt;- data_dt[, c(&quot;Plant&quot;, &quot;Type&quot;, &quot;Treatment&quot;, &quot;conc&quot;, &quot;uptake&quot;, &quot;conc_scaled&quot;) , with = FALSE]
head(data_dt)</code></pre>
<pre class="datatable-out"><code>##           Plant   Type  Treatment  conc uptake conc_scaled
## 1: A nice plant Quebec nonchilled 0.175   30.4 -0.10883975
## 2: A nice plant Quebec nonchilled 0.250   34.8 -0.04534883
## 3: A nice plant Quebec nonchilled 0.350   37.2  0.03930572
## 4: A nice plant Quebec nonchilled 0.500   35.3  0.16628755
## 5: A nice plant Quebec nonchilled 0.675   39.2  0.31443302
## 6: A nice plant Quebec nonchilled 1.000   39.7  0.58956032</code></pre>
<hr />
</div>
<div id="interlude-infix-operators" class="section level3">
<h3><em>Interlude</em>: Infix operators</h3>
<p>Infix operators are functions that have two arguments, a left-hand side and are right-hand side. They are different from regular operators in that they are not usually surrounded by parentheses. Really common infix operators are the arithmetic operators, such as <code>+</code>, <code>-</code>, <code>*</code>, <code>/</code>. However, there are others, like the pipe used in the tidyverse, <code>%&gt;%</code>, and the matching operator, <code>%in%</code>, which returns TRUE and FALSE values based on whether or not elements in the left-hand side exist in the right-hand side. For example:</p>
<pre class="r"><code>c(&#39;Hello&#39;, &#39;world&#39;, &#39;!&#39;) %in% c(&#39;world&#39;, &#39;Hello&#39;)</code></pre>
<pre><code>## [1]  TRUE  TRUE FALSE</code></pre>
<p>This kind of thing can be useful for indexing parts of a vector, dataframe, etc., in which we are only interested in some parts of those data objects:</p>
<pre class="r"><code>hello_world &lt;- c(&#39;Hello&#39;, &#39;world&#39;, &#39;!&#39;, &#39;extra&#39;, &#39;text&#39;)
hello_world[hello_world %in% c(&#39;Hello&#39;, &#39;words&#39;, &#39;not&#39;, &#39;in&#39;, &#39;vector&#39;, &#39;world&#39;)]</code></pre>
<pre><code>## [1] &quot;Hello&quot; &quot;world&quot;</code></pre>
<p>Infix operators can also be turned into regular functions using backticks. For example:</p>
<pre class="r"><code>`+`(2, 3) # Just like saying: 2 + 3</code></pre>
<pre><code>## [1] 5</code></pre>
<hr />
</div>
<div id="selecting-variables-columns-negative-indexing" class="section level3">
<h3>Selecting variables (columns): Negative indexing</h3>
<p>Sometimes we want most of our variables, getting rid of only a few. It can be super inefficient to use positive selection/indexing to do that, especially if we have lots of variables. Instead, it might make more sense to select which variables we <em>don’t</em> want.</p>
<pre class="r base-src"><code>#Option 1: Using the negation operator, `!` (pronounced &quot;bang&quot; or &quot;bang operator&quot;)
data_base &lt;- data_base[!(names(data_base) %in% &quot;conc_scaled&quot;)]
head(data_base)</code></pre>
<pre class="base-out"><code>##          Plant   Type  Treatment  conc uptake
## 2 A nice plant Quebec nonchilled 0.175   30.4
## 3 A nice plant Quebec nonchilled 0.250   34.8
## 4 A nice plant Quebec nonchilled 0.350   37.2
## 5 A nice plant Quebec nonchilled 0.500   35.3
## 6 A nice plant Quebec nonchilled 0.675   39.2
## 7 A nice plant Quebec nonchilled 1.000   39.7</code></pre>
<pre class="r base-src"><code>#Option 2: Using `subset()`
data_base &lt;- subset(data_base, TRUE, select = -conc_scaled)
head(data_base)</code></pre>
<pre class="base-out"><code>##          Plant   Type  Treatment  conc uptake
## 2 A nice plant Quebec nonchilled 0.175   30.4
## 3 A nice plant Quebec nonchilled 0.250   34.8
## 4 A nice plant Quebec nonchilled 0.350   37.2
## 5 A nice plant Quebec nonchilled 0.500   35.3
## 6 A nice plant Quebec nonchilled 0.675   39.2
## 7 A nice plant Quebec nonchilled 1.000   39.7</code></pre>
<pre class="r tidyverse-src"><code>#Scenario 1: Removing a single variable
data_tidy %&lt;&gt;% select(-conc_scaled)
head(data_tidy)</code></pre>
<pre class="tidyverse-out"><code>## # A tibble: 6 x 5
##   Plant        Type   Treatment   conc uptake
##   &lt;chr&gt;        &lt;chr&gt;  &lt;chr&gt;      &lt;dbl&gt;  &lt;dbl&gt;
## 1 A nice plant Quebec nonchilled 0.175   30.4
## 2 A nice plant Quebec nonchilled 0.25    34.8
## 3 A nice plant Quebec nonchilled 0.35    37.2
## 4 A nice plant Quebec nonchilled 0.5     35.3
## 5 A nice plant Quebec nonchilled 0.675   39.2
## 6 A nice plant Quebec nonchilled 1       39.7</code></pre>
<pre class="r tidyverse-src"><code>#Scenario 2: Removing multiple variables
data_tidy %&lt;&gt;% select(-c(conc_scaled, uptake_scaled))  
head(data_tidy)</code></pre>
<pre class="tidyverse-out"><code>## # A tibble: 6 x 5
##   Plant        Type   Treatment   conc uptake
##   &lt;chr&gt;        &lt;chr&gt;  &lt;chr&gt;      &lt;dbl&gt;  &lt;dbl&gt;
## 1 A nice plant Quebec nonchilled 0.175   30.4
## 2 A nice plant Quebec nonchilled 0.25    34.8
## 3 A nice plant Quebec nonchilled 0.35    37.2
## 4 A nice plant Quebec nonchilled 0.5     35.3
## 5 A nice plant Quebec nonchilled 0.675   39.2
## 6 A nice plant Quebec nonchilled 1       39.7</code></pre>
<pre class="r datatable-src"><code>data_dt &lt;- data_dt[, !&quot;conc_scaled&quot;, with = FALSE]
head(data_dt)</code></pre>
<pre class="datatable-out"><code>##           Plant   Type  Treatment  conc uptake
## 1: A nice plant Quebec nonchilled 0.175   30.4
## 2: A nice plant Quebec nonchilled 0.250   34.8
## 3: A nice plant Quebec nonchilled 0.350   37.2
## 4: A nice plant Quebec nonchilled 0.500   35.3
## 5: A nice plant Quebec nonchilled 0.675   39.2
## 6: A nice plant Quebec nonchilled 1.000   39.7</code></pre>
</div>
<div id="renaming-variables-columns" class="section level3">
<h3>Renaming variables (columns)</h3>
<p>Sometimes variable names are too long, not very informative, or need to be named something specific for a workflow. Below are some examples of renaming variables.</p>
<pre class="r base-src"><code>colnames(data_base)[colnames(data_tidy) == &quot;conc&quot;] &lt;- &quot;co2_concentration&quot;
colnames(data_base)[colnames(data_tidy) == &quot;uptake&quot;] &lt;- &quot;co2_uptake&quot;
head(data_base)</code></pre>
<pre class="base-out"><code>##          Plant   Type  Treatment co2_concentration co2_uptake
## 2 A nice plant Quebec nonchilled             0.175       30.4
## 3 A nice plant Quebec nonchilled             0.250       34.8
## 4 A nice plant Quebec nonchilled             0.350       37.2
## 5 A nice plant Quebec nonchilled             0.500       35.3
## 6 A nice plant Quebec nonchilled             0.675       39.2
## 7 A nice plant Quebec nonchilled             1.000       39.7</code></pre>
<pre class="r tidyverse-src"><code>data_tidy %&lt;&gt;% rename(co2_concentration = conc, co2_uptake = uptake)
head(data_tidy)</code></pre>
<pre class="tidyverse-out"><code>## # A tibble: 6 x 5
##   Plant        Type   Treatment  co2_concentration co2_uptake
##   &lt;chr&gt;        &lt;chr&gt;  &lt;chr&gt;                  &lt;dbl&gt;      &lt;dbl&gt;
## 1 A nice plant Quebec nonchilled             0.175       30.4
## 2 A nice plant Quebec nonchilled             0.25        34.8
## 3 A nice plant Quebec nonchilled             0.35        37.2
## 4 A nice plant Quebec nonchilled             0.5         35.3
## 5 A nice plant Quebec nonchilled             0.675       39.2
## 6 A nice plant Quebec nonchilled             1           39.7</code></pre>
<pre class="r datatable-src"><code>setnames(data_dt, c(&#39;conc&#39;, &#39;uptake&#39;), c(&#39;co2_concentration&#39;, &#39;co2_uptake&#39;))
head(data_dt)</code></pre>
<pre class="datatable-out"><code>##           Plant   Type  Treatment co2_concentration co2_uptake
## 1: A nice plant Quebec nonchilled             0.175       30.4
## 2: A nice plant Quebec nonchilled             0.250       34.8
## 3: A nice plant Quebec nonchilled             0.350       37.2
## 4: A nice plant Quebec nonchilled             0.500       35.3
## 5: A nice plant Quebec nonchilled             0.675       39.2
## 6: A nice plant Quebec nonchilled             1.000       39.7</code></pre>
<hr />
</div>
<div id="interlude-back-ticks" class="section level3">
<h3><em>Interlude</em>: Back ticks</h3>
<p>I’ve already mentioned back ticks, but only in reference to infix operators. However, back ticks can do other stuff. For example, if you want an R object start with a number or have spaces, then back ticks can be really useful. For example:</p>
<pre class="r"><code>`2_dataframes_combined` &lt;- bind_rows(data_base, data_tidy)
head(`2_dataframes_combined`)</code></pre>
<pre><code>##          Plant   Type  Treatment co2_concentration co2_uptake
## 1 A nice plant Quebec nonchilled             0.175       30.4
## 2 A nice plant Quebec nonchilled             0.250       34.8
## 3 A nice plant Quebec nonchilled             0.350       37.2
## 4 A nice plant Quebec nonchilled             0.500       35.3
## 5 A nice plant Quebec nonchilled             0.675       39.2
## 6 A nice plant Quebec nonchilled             1.000       39.7</code></pre>
<p>Or:</p>
<pre class="r"><code>`2 more dataframes combined` &lt;- bind_rows(data_base, data_dt)
head(`2 more dataframes combined`)</code></pre>
<pre><code>##          Plant   Type  Treatment co2_concentration co2_uptake
## 1 A nice plant Quebec nonchilled             0.175       30.4
## 2 A nice plant Quebec nonchilled             0.250       34.8
## 3 A nice plant Quebec nonchilled             0.350       37.2
## 4 A nice plant Quebec nonchilled             0.500       35.3
## 5 A nice plant Quebec nonchilled             0.675       39.2
## 6 A nice plant Quebec nonchilled             1.000       39.7</code></pre>
<p>Similarly, one can use back ticks to name columns in a dataframe (useful for passing label expressions to <code>ggplot2</code>). Example:</p>
<pre class="r"><code>`2 more dataframes combined` %&gt;%
  rename(`conc &lt;L/L CO2&gt;` = co2_concentration) %&gt;%
  head()</code></pre>
<pre><code>##          Plant   Type  Treatment conc &lt;L/L CO2&gt; co2_uptake
## 1 A nice plant Quebec nonchilled          0.175       30.4
## 2 A nice plant Quebec nonchilled          0.250       34.8
## 3 A nice plant Quebec nonchilled          0.350       37.2
## 4 A nice plant Quebec nonchilled          0.500       35.3
## 5 A nice plant Quebec nonchilled          0.675       39.2
## 6 A nice plant Quebec nonchilled          1.000       39.7</code></pre>
<p>This kind of syntax can be useful for including additional information in column names (attributes could be used, though that might be less obvious), or for use with math plotting. I’ll leave you all to find examples of thatkind of thing.</p>
<hr />
</div>
<div id="joining-data" class="section level3">
<h3>Joining data</h3>
<p>There are many times in which related data are in different data files, but it is the combination of those data files that is really useful (e.g., one file contains metadata). To combine these disperate, but related data, we use joins. To make the process of joining data more concrete, we’ll make and use some simpler data than we’ve been using.</p>
<pre class="r"><code>#base&#39;s dataframes
lhs_base = data.frame(LETTERS = LETTERS[1:3],
  numbers = 1:3,
  stringsAsFactors = FALSE)
rhs_base = data.frame(numbers = 3:4,
  letters = letters[3:4],
  stringsAsFactors = FALSE)

#tidyverse&#39;s tibbles
lhs_tidy = tibble(LETTERS = LETTERS[1:3],
  numbers = 1:3)
rhs_tidy = tibble(numbers = 3:4,
  letters = letters[3:4])

#data.table&#39;s datatables
lhs_dt = data.table(LETTERS = LETTERS[1:3],
  numbers = 1:3)
rhs_dt = data.table(numbers = 3:4,
  letters = letters[3:4])</code></pre>
<p>Here’s what those data look like (using the tidyverse data as an example):</p>
<pre class="r"><code>lhs_tidy; rhs_tidy</code></pre>
<pre><code>## # A tibble: 3 x 2
##   LETTERS numbers
##   &lt;chr&gt;     &lt;int&gt;
## 1 A             1
## 2 B             2
## 3 C             3</code></pre>
<pre><code>## # A tibble: 2 x 2
##   numbers letters
##     &lt;int&gt; &lt;chr&gt;  
## 1       3 c      
## 2       4 d</code></pre>
</div>
<div id="joining-data-full-join" class="section level3">
<h3>Joining data: <em>Full</em> join</h3>
<p>In this version of joining data, all data is kept, no matter its source. This can sometimes result in a lot of NAs, where there was no overlapping information between data sets.</p>
<p>In the examples below I do not specify a <code>by</code> argument as the two dataframes being joined share the same variable names, thus the argument is implicit. Basically, this is a really simplified example of how these functions can be used.</p>
<pre class="r base-src"><code>merge(lhs_base, rhs_base, all = TRUE)</code></pre>
<pre class="base-out"><code>##   numbers LETTERS letters
## 1       1       A    &lt;NA&gt;
## 2       2       B    &lt;NA&gt;
## 3       3       C       c
## 4       4    &lt;NA&gt;       d</code></pre>
<pre class="r tidyverse-src"><code>full_join(lhs_tidy, rhs_tidy)</code></pre>
<pre class="tidyverse-out"><code>## # A tibble: 4 x 3
##   LETTERS numbers letters
##   &lt;chr&gt;     &lt;int&gt; &lt;chr&gt;  
## 1 A             1 &lt;NA&gt;   
## 2 B             2 &lt;NA&gt;   
## 3 C             3 c      
## 4 &lt;NA&gt;          4 d</code></pre>
<pre class="r datatable-src"><code>merge(lhs_dt, rhs_dt, all = TRUE)</code></pre>
<pre class="datatable-out"><code>##    numbers LETTERS letters
## 1:       1       A    &lt;NA&gt;
## 2:       2       B    &lt;NA&gt;
## 3:       3       C       c
## 4:       4    &lt;NA&gt;       d</code></pre>
</div>
<div id="joining-data-inner-join" class="section level3">
<h3>Joining data: <em>Inner</em> join</h3>
<p>This version of joining keeps only observations present in both datasets. Again, the <code>by</code> argument is implictly handled.</p>
<pre class="r base-src"><code>merge(lhs_base, rhs_base)</code></pre>
<pre class="base-out"><code>##   numbers LETTERS letters
## 1       3       C       c</code></pre>
<pre class="r tidyverse-src"><code>inner_join(lhs_tidy, rhs_tidy)</code></pre>
<pre class="tidyverse-out"><code>## # A tibble: 1 x 3
##   LETTERS numbers letters
##   &lt;chr&gt;     &lt;int&gt; &lt;chr&gt;  
## 1 C             3 c</code></pre>
<pre class="r datatable-src"><code>merge(lhs_dt, rhs_dt)</code></pre>
<pre class="datatable-out"><code>##    numbers LETTERS letters
## 1:       3       C       c</code></pre>
</div>
<div id="joining-data-left-join" class="section level3">
<h3>Joining data: <em>Left</em> join</h3>
<p>Left joins will keep all the data from the first (left) <code>left_join/merge</code> argument, but will drop data from the second data set (right-hand side).</p>
<pre class="r base-src"><code>merge(lhs_base, rhs_base, all.x = TRUE)</code></pre>
<pre class="base-out"><code>##   numbers LETTERS letters
## 1       1       A    &lt;NA&gt;
## 2       2       B    &lt;NA&gt;
## 3       3       C       c</code></pre>
<pre class="r tidyverse-src"><code>left_join(lhs_tidy, rhs_tidy)</code></pre>
<pre class="tidyverse-out"><code>## # A tibble: 3 x 3
##   LETTERS numbers letters
##   &lt;chr&gt;     &lt;int&gt; &lt;chr&gt;  
## 1 A             1 &lt;NA&gt;   
## 2 B             2 &lt;NA&gt;   
## 3 C             3 c</code></pre>
<pre class="r datatable-src"><code>merge(lhs_dt, rhs_dt, all.x = TRUE)</code></pre>
<pre class="datatable-out"><code>##    numbers LETTERS letters
## 1:       1       A    &lt;NA&gt;
## 2:       2       B    &lt;NA&gt;
## 3:       3       C       c</code></pre>
</div>
<div id="joining-data-right-join" class="section level3">
<h3>Joining data: <em>Right</em> join</h3>
<p>Same-same, but emphasizing the second dataframe passed to the function.</p>
<pre class="r base-src"><code>merge(lhs_base, rhs_base, all.y = TRUE)</code></pre>
<pre class="base-out"><code>##   numbers LETTERS letters
## 1       3       C       c
## 2       4    &lt;NA&gt;       d</code></pre>
<pre class="r tidyverse-src"><code>right_join(lhs_tidy, rhs_tidy)</code></pre>
<pre class="tidyverse-out"><code>## # A tibble: 2 x 3
##   LETTERS numbers letters
##   &lt;chr&gt;     &lt;int&gt; &lt;chr&gt;  
## 1 C             3 c      
## 2 &lt;NA&gt;          4 d</code></pre>
<pre class="r datatable-src"><code>merge(lhs_dt, rhs_dt, all.y = TRUE)</code></pre>
<pre class="datatable-out"><code>##    numbers LETTERS letters
## 1:       3       C       c
## 2:       4    &lt;NA&gt;       d</code></pre>
<hr />
</div>
<div id="interlude-tidy-data-and-why-it-is-useful" class="section level3">
<h3><em>Interlude</em>: Tidy data and why it is useful</h3>
<p>Tidy data are generally rectangular data (e.g., a dataframe) where every row is an observation, every column is a variable, and every cell has a value. That might not sound very profound, but once you get used to working with tidy data programmatically, the benefits of this organizational strategy become pretty obvious. But what does untidy vs tidy data look like?</p>
<p>Here is an example of untidy data (this is actually reasonably tidy compared to a lot of “wild” data, but I needed something simple):</p>
<pre><code>## # A tibble: 5 x 4
##   group    id time_point  mass
##   &lt;dbl&gt; &lt;dbl&gt;      &lt;dbl&gt; &lt;dbl&gt;
## 1     1   543          1  12.3
## 2    NA    NA          2  23.8
## 3    NA    23          1  28.9
## 4    NA    NA          2  18.3
## 5    NA    56          1  43</code></pre>
<p>In the above table, group 1 (first column) implicitly applies to all the observations while the first id (second column) applies to the top 2 rows, and the second id applies to the bottom two rows. For some things this form is fine, but what if we need to start conditionally manipulating values. For example, what if we needed to add an offset to ever mass value for id 23? For small data sets, we could do this by hand in excel or a text editor (though that’s not a very reproducible solution), but for larger data sets (thousands of rows), we would have no easy way of tracking which observations are associated with id 23. Thus, tidy data uses redundancy to help as track the relationships between observations and variables.</p>
<p>The same data, but tidy:</p>
<pre><code>##    group  id time_point mass
## 1:     1 543          1 12.3
## 2:     1 543          2 23.8
## 3:     1  23          1 28.9
## 4:     1  23          2 18.3
## 5:     1  56          1 43.0</code></pre>
<p>One question we might ask is: What makes something an observation vs a variable? The answer to that issue depends on the larger questions being asked by the analysis and over all study. And because those bigger questions can change as we learn more about our data, we need to be able to change how observations and variables are treated in our data set. This process of manipulation is often called pivoting, which is discussed below.</p>
<p>For more on tidy data, check out the <a href="https://r4ds.had.co.nz/tidy-data.html">tidy data chapter</a> in the <a href="https://r4ds.had.co.nz/">R for Data Science</a> book.</p>
<hr />
</div>
<div id="data-reshaping-pivoting-observations-to-variables" class="section level3">
<h3>Data reshaping (pivoting): Observations to variables</h3>
<p>In my experience, base R doesn’t have great reshaping resources, so I’m just going to avoid base for these reshaping examples.</p>
<p>From our tidy data example above, let’s say we want to turn time points from an observation to a variable. Here’ we’ll do that by “widening” our data such that</p>
<pre class="r tidyverse-src"><code>tidy_data %&lt;&gt;%
  pivot_wider(names_from = time_point,
    names_prefix = &quot;time_point_&quot;,
    values_from = mass)
tidy_data</code></pre>
<pre class="tidyverse-out"><code>## # A tibble: 3 x 4
##   group    id time_point_1 time_point_2
##   &lt;dbl&gt; &lt;dbl&gt;        &lt;dbl&gt;        &lt;dbl&gt;
## 1     1   543         12.3         23.8
## 2     1    23         28.9         18.3
## 3     1    56         43           NA</code></pre>
<pre class="r datatable-src"><code>#Prepend column name to ensure we can track source variable
dt_data[, time_point := paste(&quot;time_point&quot;, time_point, sep =&quot;_&quot;)]
dt_data &lt;- dcast(dt_data,
  group + id ~ &quot;time_point&quot; + time_point,
  value.var = &quot;mass&quot;)
dt_data</code></pre>
<pre class="datatable-out"><code>##    group  id time_point_1 time_point_2
## 1:     1  23         28.9         18.3
## 2:     1  56         43.0           NA
## 3:     1 543         12.3         23.8</code></pre>
<p>Notice that the last observation (<code>id</code>: 56) had no second <code>time_point</code> value, so it was provided a value of <code>NA</code>.</p>
</div>
<div id="data-reshaping-pivoting-variables-to-observations" class="section level3">
<h3>Data reshaping (pivoting): Variables to observations</h3>
<p>Sometimes we want variables to become observations. This “lengthens” our data. In this example we’ll convert the “wide” data above, back into its original shape.</p>
<pre class="r tidyverse-src"><code>#pivot_longer
tidy_data %&lt;&gt;%
  pivot_longer(time_point_1:time_point_2,
    names_to = &quot;time_point&quot;,
    names_prefix = &quot;time_point_&quot;) %&gt;%
  mutate(time_point = as.numeric(time_point))
tidy_data</code></pre>
<pre class="tidyverse-out"><code>## # A tibble: 6 x 4
##   group    id time_point value
##   &lt;dbl&gt; &lt;dbl&gt;      &lt;dbl&gt; &lt;dbl&gt;
## 1     1   543          1  12.3
## 2     1   543          2  23.8
## 3     1    23          1  28.9
## 4     1    23          2  18.3
## 5     1    56          1  43  
## 6     1    56          2  NA</code></pre>
<pre class="r datatable-src"><code>dt_data &lt;- melt(dt_data,
  id_vars = &quot;id&quot;,
  measure.vars = c(&quot;time_point_1&quot;, &quot;time_point_2&quot;),
  variable.name = &quot;time_point&quot;)
dt_data[, time_point := as.numeric(gsub(&quot;time_point_&quot;, &quot;&quot;, time_point))]
dt_data</code></pre>
<pre class="datatable-out"><code>##    group  id time_point value
## 1:     1  23          1  28.9
## 2:     1  56          1  43.0
## 3:     1 543          1  12.3
## 4:     1  23          2  18.3
## 5:     1  56          2    NA
## 6:     1 543          2  23.8</code></pre>
<p>Notice that the <code>NA</code> value is now in our reshaped data. This kind of pivot wider-longer workflow can actually be really useful for identifying missing data or data combinations. It can also be useful as a placeholder for use in visualization software, like <code>ggplot2</code>.</p>
</div>
</div>
<div id="iterators" class="section level2">
<h2>Iterators</h2>
<p>One nice thing about R is that it is largely a vectorized language, meaning we don’t have to explicity tell R to how to do something like:</p>
<pre class="r"><code>c(2, 3) + c(3, 6)</code></pre>
<pre><code>## [1] 5 9</code></pre>
<p>That is, R just knows that we want to loop through each paired value in the numeric vectors. However, that kind of vectorization is not always possible, in which case we need to explicitly iterate through our data somehow. In that context, we have two general kinds of iterator we can use: imperative and functional. We’ll focus on <code>for</code> loops as an example of imperative iteration. Functional iterators are very similar to their imperative counter-parts, but tend to be more scalable and flexible in how they operate, which is great for creating generalizable code that we can use over and over again.</p>
<div id="imperitive-programming-and-the-for-loop" class="section level3">
<h3>Imperitive programming and the <code>for</code> loop</h3>
<p>Loops are pretty fundamental to most (all?) contemporary programming languages, so there are not syntactical replacements for them (as far as I know). Thus the examples below simply provide some examples of using <code>for</code> loops in R to iterate through different data types.</p>
<p><em>Iterating over a vector</em>:</p>
<pre class="r"><code>some_letters &lt;- letters[10:15]
some_letters</code></pre>
<pre><code>## [1] &quot;j&quot; &quot;k&quot; &quot;l&quot; &quot;m&quot; &quot;n&quot; &quot;o&quot;</code></pre>
<pre class="r"><code>for(i in 1:length(some_letters)) {
  cat(some_letters[i]) #Print a letter
  cat(&quot;\n&quot;) #Tells R to print an empty line so they aren&#39;t all on one line
}</code></pre>
<pre><code>## j
## k
## l
## m
## n
## o</code></pre>
<p>Bonus question: Why do I need to use <code>cat</code> (or <code>print</code>) inside a <code>for</code> loop when I, for example, can simply type <code>some_letters</code> outside the loop and see the result printed to the console?</p>
<p><em>Iterating over the <strong>rows</strong> of a dataframe</em> (and printing them):</p>
<pre class="r"><code>for(row in 1:nrow(base_data)) {
  print(base_data[row, ])
  cat(&quot;\n&quot;)
}</code></pre>
<pre><code>##   group  id time_point mass
## 1     1 543          1 12.3
## 
##   group  id time_point mass
## 2     1 543          2 23.8
## 
##   group id time_point mass
## 3     1 23          1 28.9
## 
##   group id time_point mass
## 4     1 23          2 18.3
## 
##   group id time_point mass
## 5     1 56          1   43</code></pre>
<p><em>Iterate over the <strong>columns</strong> of a dataframe</em> (and print them):</p>
<pre class="r"><code>for(column in 1:ncol(base_data)) {
  print(base_data[column])
  cat(&quot;\n&quot;)
}</code></pre>
<pre><code>##   group
## 1     1
## 2     1
## 3     1
## 4     1
## 5     1
## 
##    id
## 1 543
## 2 543
## 3  23
## 4  23
## 5  56
## 
##   time_point
## 1          1
## 2          2
## 3          1
## 4          2
## 5          1
## 
##   mass
## 1 12.3
## 2 23.8
## 3 28.9
## 4 18.3
## 5 43.0</code></pre>
<p>For loops do not have to include only a single set of iterations, however. The example below highlights how we can nest loops by iterating over the different dimensions of a dataframe.</p>
<p>To help clarify how the <code>column</code> and <code>row</code> variables change over each iteration, I’ve added some extra formatting bits that track the variables. In this case <code>column</code> represents the “outer” loop and <code>row</code> represents in the “inner” loop.</p>
<pre class="r"><code>for(column in 1:ncol(base_data)) {
  cat(paste0(&quot;[col: &quot;, column, &quot;]: New loop (&quot;, colnames(base_data)[column], &quot;)&quot;))
  cat(&quot;\n&quot;)
  for(row in 1:nrow(base_data)) {
    base_data[row, column] %&gt;%
      paste0(&quot;[row: &quot;, row, &quot;]: &quot;, .) %&gt;%
      cat()
      cat(&quot;\n&quot;)
  }
  cat(&quot;\n&quot;) #Prints a new line between &quot;inner&quot; loops to help visualize the start/end of an iteration
}</code></pre>
<pre><code>## [col: 1]: New loop (group)
## [row: 1]: 1
## [row: 2]: 1
## [row: 3]: 1
## [row: 4]: 1
## [row: 5]: 1
## 
## [col: 2]: New loop (id)
## [row: 1]: 543
## [row: 2]: 543
## [row: 3]: 23
## [row: 4]: 23
## [row: 5]: 56
## 
## [col: 3]: New loop (time_point)
## [row: 1]: 1
## [row: 2]: 2
## [row: 3]: 1
## [row: 4]: 2
## [row: 5]: 1
## 
## [col: 4]: New loop (mass)
## [row: 1]: 12.3
## [row: 2]: 23.8
## [row: 3]: 28.9
## [row: 4]: 18.3
## [row: 5]: 43</code></pre>
<p>A more suscinct version of the above loop that will just print out the numbers:</p>
<pre class="r"><code>for(column in 1:ncol(base_data)) {
  for(row in 1:nrow(base_data)) {
    print(as.numeric(base_data[row, column]))
  }
}</code></pre>
<p>We’re also not stuck with fixed values for our indeces when using for loops. That is, every iteration is an opportunity to change our indices for some purpose. For example, below is some code for making a random 3 x 3 upper triangular correlation matrix:</p>
<pre class="r"><code>#Initialize the matrix
mat &lt;- matrix(rep(0.0, times = 9), nrow = 3)
mat</code></pre>
<pre><code>##      [,1] [,2] [,3]
## [1,]    0    0    0
## [2,]    0    0    0
## [3,]    0    0    0</code></pre>
<pre class="r"><code>#Iterate over the matrix, adding the non-zero randome bits
for(n in 1:nrow(mat)) {
  for(m in n:ncol(mat)) { #Note that we use &quot;n&quot; to start our iteration
    if(n == m) {
      mat[n, m] &lt;- 1.0 #Ensures diagonal values are always equal to 1
    } else {
      mat[n, m] &lt;- runif(1, -1, 1) #Random assignment of a value between -1 and 1
    }
  }
}

mat</code></pre>
<pre><code>##      [,1]      [,2]      [,3]
## [1,]    1 -0.938238 0.6599101
## [2,]    0  1.000000 0.5729254
## [3,]    0  0.000000 1.0000000</code></pre>
<p>Above, the first iteration of the inner loop we are focused on row 1, columns 1 to 3. In the second loop, column 2 and rows 2 to 3. In the final iteration we focus only on row 3, column 3.</p>
</div>
<div id="functional-programming-iterators-an-alternative-to-imperative-loops" class="section level3">
<h3>Functional programming iterators (an alternative to imperative loops)</h3>
<p>Functional iterators implictly perform some of the same actions as <code>for</code> loops, but usually with some extra bells and whistles. By themselves these functions are not usually that interesting, but when combined with other functions and workflows (e.g., the split-apply-combine method talked about in the next section) they can become real powerhouses.</p>
<p>In the case of base R, these iterators take the form of the <code>*apply</code> family, which include functions like <code>apply()</code>, <code>lapply()</code> (“list” apply), <code>sapply()</code> (“simplified” apply), etc. Personally, I find these functions very unintuitive, so I’m only going to provde an example of <code>sapply</code>.</p>
<p>For the tidyverse, most iterators are contained in the <code>purrr</code> package. The most important set of functional iterators in that package are the <code>map</code> family of functions.</p>
<p>As far as I can tell, the data.table package is really meant for workin with tidy, 2D data (columns and rows), so we’ll withhold the use of iteration until the next section.</p>
<p>Functional iteration can be kind of confusing, so we’ll keep it simple and brief. Just know that this stuff takes practice, so don’t worry if it doesn’t “click” at first. Just keep at it. In the examples below we’ll use the following function to test if a number is “big” or “small” based on some criteria. In this case, we say a number is “small” if it is less than <code>cutoff</code> (default of 2.5). Note that we are using the unvectorized form of if-else, which means we need to use an iterator for this function to work across multiple rows of data.</p>
<pre class="r"><code>big_or_small &lt;- function(x, cutoff = 2.5) {
  if(x &lt; cutoff) {
    return(&quot;small&quot;)
  } else {
    return(&quot;big&quot;)
  }
}</code></pre>
<pre class="r base-src"><code># This is a pretty lame example, but you can at least see that we are iterating through the vector
our_vector &lt;- -1:5
names(our_vector) &lt;- -1:5
sapply(X = our_vector, FUN = big_or_small)</code></pre>
<pre class="base-out"><code>##      -1       0       1       2       3       4       5 
## &quot;small&quot; &quot;small&quot; &quot;small&quot; &quot;small&quot;   &quot;big&quot;   &quot;big&quot;   &quot;big&quot;</code></pre>
<pre class="r tidyverse-src"><code>our_vector &lt;- -1:5
names(our_vector) &lt;- -1:5
map_chr(.x = our_vector, .f = big_or_small) #map_chr always returns a character vector</code></pre>
<pre class="tidyverse-out"><code>##      -1       0       1       2       3       4       5 
## &quot;small&quot; &quot;small&quot; &quot;small&quot; &quot;small&quot;   &quot;big&quot;   &quot;big&quot;   &quot;big&quot;</code></pre>
</div>
</div>
<div id="split-apply-combine-simple-aggregations" class="section level2">
<h2>Split-apply-combine: Simple aggregations</h2>
<p>Split-apply-combine means to break up a data object into meaningful groups, perform some operation on those groups, and then bring the results back together.</p>
<p>This method is particularly useful in the context of breaking up datasets for multi-threaded processing of algorithms that take a long time to complete.</p>
<pre class="r base-src"><code>#I prefer the formula method to `aggregate` because the x variable (&quot;uptake&quot; in this case) is not renamed to &quot;x&quot;
#Scenario 1: A single variable and summary function
aggregate(uptake ~ Type + Treatment, data = CO2, FUN = mean)</code></pre>
<pre class="base-out"><code>##          Type  Treatment   uptake
## 1 Mississippi    chilled 15.81429
## 2      Quebec    chilled 31.75238
## 3 Mississippi nonchilled 25.95238
## 4      Quebec nonchilled 35.33333</code></pre>
<pre class="r base-src"><code>#Scenario 2: Multiple variables and a single summary function
aggregate(. ~ Type + Treatment, data = CO2[-which(colnames(CO2) %in% &quot;Plant&quot;)], FUN = mean)</code></pre>
<pre class="base-out"><code>##          Type  Treatment conc   uptake
## 1 Mississippi    chilled  435 15.81429
## 2      Quebec    chilled  435 31.75238
## 3 Mississippi nonchilled  435 25.95238
## 4      Quebec nonchilled  435 35.33333</code></pre>
<pre class="r base-src"><code>#Scenario 3: Multiple variables and summary functions
do.call(data.frame, aggregate(. ~ Type + Treatment,
  data = CO2[-which(colnames(CO2) %in% &quot;Plant&quot;)],
  FUN = function(x) c(mean = mean(x), sd = sd(x))))</code></pre>
<pre class="base-out"><code>##          Type  Treatment conc.mean  conc.sd uptake.mean uptake.sd
## 1 Mississippi    chilled       435 301.4216    15.81429  4.058976
## 2      Quebec    chilled       435 301.4216    31.75238  9.644823
## 3 Mississippi nonchilled       435 301.4216    25.95238  7.402136
## 4      Quebec nonchilled       435 301.4216    35.33333  9.596371</code></pre>
<pre class="r tidyverse-src"><code>#Scenario 1: A single variable and summary function
CO2 %&gt;%
  group_by(Type, Treatment) %&gt;%
  summarise(uptake = mean(uptake))</code></pre>
<pre class="tidyverse-out"><code>## # A tibble: 4 x 3
## # Groups:   Type [2]
##   Type        Treatment  uptake
##   &lt;chr&gt;       &lt;chr&gt;       &lt;dbl&gt;
## 1 Mississippi chilled      15.8
## 2 Mississippi nonchilled   26.0
## 3 Quebec      chilled      31.8
## 4 Quebec      nonchilled   35.3</code></pre>
<pre class="r tidyverse-src"><code>#Scenario 2: Multiple variables and a single summary function
CO2 %&gt;%
  group_by(Type, Treatment) %&gt;%
  summarise(uptake_mean = mean(uptake),
    uptake_sd = sd(uptake)) %&gt;%
  arrange(desc(uptake_mean))</code></pre>
<pre class="tidyverse-out"><code>## # A tibble: 4 x 4
## # Groups:   Type [2]
##   Type        Treatment  uptake_mean uptake_sd
##   &lt;chr&gt;       &lt;chr&gt;            &lt;dbl&gt;     &lt;dbl&gt;
## 1 Quebec      nonchilled        35.3      9.60
## 2 Quebec      chilled           31.8      9.64
## 3 Mississippi nonchilled        26.0      7.40
## 4 Mississippi chilled           15.8      4.06</code></pre>
<pre class="r tidyverse-src"><code>#Scenario 3: Multiple variables and summary functions
CO2 %&gt;%
  group_by(Type, Treatment) %&gt;%
  select(-Plant) %&gt;%
  summarise_all(lst(mean, sd))</code></pre>
<pre class="tidyverse-out"><code>## # A tibble: 4 x 6
## # Groups:   Type [2]
##   Type        Treatment  conc_mean uptake_mean conc_sd uptake_sd
##   &lt;chr&gt;       &lt;chr&gt;          &lt;dbl&gt;       &lt;dbl&gt;   &lt;dbl&gt;     &lt;dbl&gt;
## 1 Mississippi chilled          435        15.8    301.      4.06
## 2 Mississippi nonchilled       435        26.0    301.      7.40
## 3 Quebec      chilled          435        31.8    301.      9.64
## 4 Quebec      nonchilled       435        35.3    301.      9.60</code></pre>
<pre class="r datatable-src"><code>#Scenario 2: Multiple variables and a single summary function
# (I don&#39;t know how to apply multiple summary functions in data.table)
CO2_dt &lt;- CO2
setDT(CO2_dt)
CO2_dt[order(uptake), .(uptake_mean = mean(uptake), uptake_sd = sd(uptake)), by = .(Type, Treatment)]</code></pre>
<pre class="datatable-out"><code>##           Type  Treatment uptake_mean uptake_sd
## 1: Mississippi    chilled    15.81429  4.058976
## 2:      Quebec    chilled    31.75238  9.644823
## 3: Mississippi nonchilled    25.95238  7.402136
## 4:      Quebec nonchilled    35.33333  9.596371</code></pre>
<p>Note that it is currently unclears as to how I could summarize multiple variables and functions in a single, chainable command. For so few variable-function combinations it would be fine to just join the results together. However, if we had 10s or 100s of variable-function combinations, it would be nice to find a scaleable solution.</p>
</div>
<div id="split-apply-combine-more-complicatated-aggregations" class="section level2">
<h2>Split-apply-combine: More complicatated aggregations</h2>
<p>The above examples are nice, but pretty simple compared to some of the workflows we can generate using the split-apply-combine approach. The examples below combine our data and the <code>lm</code> function to estimate linear coefficents, and other info, across our groups. In this context, neither the tidyverse nor the data.table workflows actually have a “combine” step, because all the grouping variables are tracked with the other data. This is actually a huge advantage, because we no longer have to worry if some function as automatically sorting our groups, which potentially causes a mismatch between results and grouping factors. This also means we can use perform all our tasks together in a single, piped workflow.</p>
<p>For both the base R and data.table approaches we’ll be using the following function, just to make the “apply” step a little simpler. (Note that we don’t need to make an explicit function for our tidyverse code, making it even more containerized.)</p>
<pre class="r"><code>#This function simply takes some data and whatever other arguments we want to pass to `lm`
# It then returns a summary of the model result as a tidy dataframe
my_lm_function &lt;- function(data, ...) {
  model_result &lt;- lm(data = data, ...)
  broom::tidy(model_result) #Returns a tidy results of the model
}</code></pre>
<pre class="r base-src"><code>#Note the many intermediate outputs. Some of these intermediates are purely aesthetic.
# These intermediates could be reduced by turning this workflow into a function.
CO2_split &lt;- split(CO2, list(CO2$Type, CO2$Treatment)) #Split
CO2_result &lt;- lapply(CO2_split, my_lm_function, formula = uptake ~ conc) #Apply
CO2_df &lt;- do.call(rbind, CO2_result) #Combine
CO2_group_names &lt;- rownames(CO2_df) #Tidy up the row names
CO2_group_names &lt;- sapply(CO2_group_names, strsplit, &quot;\\.&quot;)
CO2_group_names &lt;- data.frame(Type = sapply(CO2_group_names, `[[`, 1),
  Treatment = sapply(CO2_group_names, `[[`, 2))
CO2_model_summary &lt;- data.frame(CO2_group_names, CO2_df) #Combine the row names and results
rownames(CO2_model_summary) &lt;- NULL #Remove old row names
CO2_model_summary</code></pre>
<pre class="base-out"><code>##          Type  Treatment        term     estimate   std.error statistic      p.value
## 1 Mississippi    chilled (Intercept) 12.541791080 1.345513787  9.321191 1.612957e-08
## 2 Mississippi    chilled        conc  0.007522976 0.002562286  2.936041 8.478864e-03
## 3      Quebec    chilled (Intercept) 21.421041180 2.583220649  8.292378 9.793788e-08
## 4      Quebec    chilled        conc  0.023750206 0.004919273  4.827991 1.168744e-04
## 5 Mississippi nonchilled (Intercept) 18.453293120 2.106953232  8.758283 4.256804e-08
## 6 Mississippi nonchilled        conc  0.017239282 0.004012309  4.296599 3.893829e-04
## 7      Quebec nonchilled (Intercept) 25.585033845 2.724341385  9.391273 1.433249e-08
## 8      Quebec nonchilled        conc  0.022409884 0.005188012  4.319551 3.695477e-04</code></pre>
<pre class="r tidyverse-src"><code>CO2 %&gt;%
  group_by(Type, Treatment) %&gt;% #Split
  nest() %&gt;% #Nesting is crazy, but sooooo cool!
  mutate(model_lm = map(data, lm, formula = uptake ~ conc), #Apply
    model_summary = map(model_lm, broom::tidy)) %&gt;%
  select(-data, -model_lm) %&gt;% #Remove some unneccessary info
  unnest(model_summary) %&gt;%
  arrange(Treatment, Type) #Put results in same order as base R</code></pre>
<pre class="tidyverse-out"><code>## # A tibble: 8 x 7
## # Groups:   Type, Treatment [4]
##   Type        Treatment  term        estimate std.error statistic      p.value
##   &lt;chr&gt;       &lt;chr&gt;      &lt;chr&gt;          &lt;dbl&gt;     &lt;dbl&gt;     &lt;dbl&gt;        &lt;dbl&gt;
## 1 Mississippi chilled    (Intercept) 12.5       1.35         9.32 0.0000000161
## 2 Mississippi chilled    conc         0.00752   0.00256      2.94 0.00848     
## 3 Quebec      chilled    (Intercept) 21.4       2.58         8.29 0.0000000979
## 4 Quebec      chilled    conc         0.0238    0.00492      4.83 0.000117    
## 5 Mississippi nonchilled (Intercept) 18.5       2.11         8.76 0.0000000426
## 6 Mississippi nonchilled conc         0.0172    0.00401      4.30 0.000389    
## 7 Quebec      nonchilled (Intercept) 25.6       2.72         9.39 0.0000000143
## 8 Quebec      nonchilled conc         0.0224    0.00519      4.32 0.000370</code></pre>
<pre class="r datatable-src"><code>CO2_dt &lt;- CO2 #Convert CO2 to a data.table compatible format
setDT(CO2_dt)
CO2_dt[order(Treatment, Type), #Same order as base R
  my_lm_function(.SD, formula = uptake ~ conc), #Apply
  by = list(Type, Treatment)] #Split</code></pre>
<pre class="datatable-out"><code>##           Type  Treatment        term     estimate   std.error statistic      p.value
## 1: Mississippi    chilled (Intercept) 12.541791080 1.345513787  9.321191 1.612957e-08
## 2: Mississippi    chilled        conc  0.007522976 0.002562286  2.936041 8.478864e-03
## 3:      Quebec    chilled (Intercept) 21.421041180 2.583220649  8.292378 9.793788e-08
## 4:      Quebec    chilled        conc  0.023750206 0.004919273  4.827991 1.168744e-04
## 5: Mississippi nonchilled (Intercept) 18.453293120 2.106953232  8.758283 4.256804e-08
## 6: Mississippi nonchilled        conc  0.017239282 0.004012309  4.296599 3.893829e-04
## 7:      Quebec nonchilled (Intercept) 25.585033845 2.724341385  9.391273 1.433249e-08
## 8:      Quebec nonchilled        conc  0.022409884 0.005188012  4.319551 3.695477e-04</code></pre>
<p>And that’s it! I hope you found some of these examples at least a little useful.</p>
<hr />
</div>
</div>
<div id="appendix-of-other-useful-information" class="section level1">
<h1>Appendix of other useful information</h1>
<p>Below are just a couple more useful resources.</p>
<ul>
<li><a href="https://vroom.r-lib.org/index.html">vroom</a>: If you need to read-in a large data set to R quickly use the vroom package. It is wicked fast!</li>
<li><a href="https://dtplyr.tidyverse.org/">dtplyr</a>: If you want the speed of data.table, but only want to learn one alternative R dialect, then use dtplyr. It uses the tidyverse dialect, but on data.tables. It also prints the underlying data.table code it used to run a given operation, meaning you can try to osmotically learn data.table while programming with the tidyverse. dtplyr can’t do absolutely everything that data.table can (and vice versa), and it’s just a tad slower than native data.table, but generally speaking, dtplyr is great for simplifying your code while still getting killer speed-ups.</li>
<li><a href="https://rstudio.com/resources/cheatsheets/">RStudio’s cheat sheets</a>: RStudio has made a bunch of cheat sheets for packages, which often provide a visual intuition for what a given function is doing. A great place to start learning the tidyverse and other packages.</li>
<li><a href="https://coolbutuseless.github.io/2018/03/03/split-apply-combine-my-search-for-a-replacement-for-group_by-do/">A deeper dive into split-apply-combine</a>: This post, in part, inspired me to provide additional information related to the split-apply-combine approach to data analysis. Cool blog, too.</li>
</ul>
</div>
<div>
<script
    src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>
<script>
  //---# Initialize ---//
  //Select the source code elements
  const sourceCode = $(".base-src, .tidyverse-src, .datatable-src");
  //Select the result code elements
  const resultCode = $(".base-out, .tidyverse-out, .datatable-out");
  
  //---# Immediate actions ---//
  ///Support functions
  const toolTipSwitch = expression => {
    let x;
    switch(expression) {
      case 'r base-src intro':
      case 'r base-src':
      case 'base-out result-hidden':
      case 'base-out intro result-hidden':
        x = 'base R';
        break;
      case 'r tidyverse-src intro':
      case 'r tidyverse-src':
      case 'tidyverse-out result-hidden':
      case 'tidyverse-out intro result-hidden':
        x = 'tidyverse';
        break;
      case 'r datatable-src intro':
      case 'r datatable-src':
      case 'datatable-out result-hidden':
      case 'datatable-out intro result-hidden':
        x = 'data.table';
        break;
      default:
        x = '';
    }
    return x;
  };
  
  //Hide all the results
  resultCode.toggleClass('result-hidden');
  //Add tool tip info
  ///Source code
  sourceCode
    .attr("data-toggle","tooltip")
    .attr("data-placement", "top")
    .attr("title", function() {
      return toolTipSwitch($(this).attr('class'));
    });
  ///Results code
  resultCode
    .attr("data-toggle","tooltip")
    .attr("data-placement", "top")
    .attr("title", function() {
      return toolTipSwitch($(this).attr('class'));
    });
  
  //---# Reactivity ---//
  //---## Click actions ---//
  //Instructions for what to do when a source code block is clicked
  sourceCode.on("click", function() {
    //Hides/un-hides a result
    $(this)
      //Finds the result associated with the source
      .next('[class*="-out"]')
      .toggleClass("result-hidden");
    //Adds/removes box-shadow
    $(this)
    .toggleClass('clicked');
  });
  //What to do when a result block is clicked
  resultCode.on("click", function() {
    //Hides/un-hides the results block
    $(this)
    .toggleClass("result-hidden");
    //Removes box-shadow from source block
    $(this)
    .prev('[class*="-src"]')
    .toggleClass('clicked');
  });
  
  //---## Hover actions ---//
  //Change the cursor on hover for clickable actions
  ///Source code
  sourceCode.hover(function() {
      //On hover
      $(this).css('cursor', 'pointer');
  }, function() {
      //Off hover
      $(this).css('cursor', 'auto');
  });
  ///Results code
  resultCode.hover(function() {
    //On hover
    $(this).css('cursor', 'pointer');
  }, function() {
    //Off hover
    $(this).css('cursor', 'auto');
  });
 </script>
</div>
</div>
