<!doctype html>
<html lang="{{ .Page.Language | default "en" }}">
  {{ partial "head" . }}
  <body>
    {{ partial "site-header" . }}
    <div id="wrapper">
      {{ partial "site-intro" . }}
      <main id="site-main">
        <article class="post">
            {{ $.Scratch.Set "h1" true }}
            {{ .Render "header" }}
            <div id="content">
                
              <h2>Education</h2>
              <ul class="fa-ul">
                {{ range sort .Site.Data.education "order" }}
                <li><i class="fa-li fas fa-graduation-cap fa-fw"></i>
                  {{ .title }}, {{ .department}} <span style="float:right;">{{ .date }}</span><br>
                  {{ .university }}
                </li>
                {{ end }}
              </ul>

              <h2>Professional Experience</h2>
              <ul class="fa-ul">
                {{ range sort .Site.Data.employment "start_date" "desc" }}
                <li class="is-inset-bottom-4">
                 <i class="fa-li fas fa-briefcase fa-fw"></i>
                  {{ .title }}  <span style="float:right;">{{ .start_date }}-{{ if .end_date }}{{ .end_date }}{{ end }}</span><br/>
                  {{ .organization }} <span style="float:right;">{{ .location }}</span>
                </li>
                {{ end }}
              </ul>
              
              <h2>Publications, Data, Etc.</h2>
              <ul class="fa-ul">
                {{ range sort .Site.Data.papers "date" "desc" }}
                  {{ partial "work.html" .}}
                {{ end }}
              </ul>

            </div>
        </article>
      </main>
      {{ partial "site-sidebar" . }}
      {{ partial "site-footer" . }}
      {{ partial "scripts" . }}
    </div>
  </body>
</html>
